.scr-navi .swiper-wrapper .swiper-slide a {
  font-size: 4vw; }

.wrap-form-login .form-login {
  padding: 0 10.133vw; }
  .wrap-form-login .form-login .in-txt {
    position: relative;
    padding-top: 1px; }
    .wrap-form-login .form-login .in-txt input {
      width: 100%;
      padding: 7.33vw 0 3.466vw;
      font-size: 3.733vw;
      color: #1f1f1f;
      border-bottom: .266vw solid #eee; }
      .wrap-form-login .form-login .in-txt input.active {
        border-bottom: .266vw solid #1f1f1f; }
    .wrap-form-login .form-login .in-txt ::-webkit-input-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt :-moz-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt ::-moz-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt :-ms-input-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt span {
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      height: 10.666vw;
      line-height: 10.666vw;
      color: #ccc;
      font-size: 3.733vw; }
  .wrap-form-login .form-login .btns .btn {
    width: 100%;
    margin-top: 8vw;
    font-size: 3.733vw;
    color: #fff;
    background: #1f1f1f; }

.wrap-form-login .txt-info {
  padding: 9.33vw 10.133vw 77.33vw; }
  .wrap-form-login .txt-info h4 {
    font-size: 3.733vw;
    font-weight: 700;
    color: #1f1f1f; }
  .wrap-form-login .txt-info ul {
    margin-top: 4.533vw; }
    .wrap-form-login .txt-info ul li {
      font-size: 3.466vw;
      color: #aaa;
      line-height: 4.8vw; }
      .wrap-form-login .txt-info ul li:first-child {
        padding-bottom: 1.33vw; }

.order .d-info {
  padding: 0 4.8vw; }
  .order .d-info .add {
    border-top: .8vw #000 solid; }
    .order .d-info .add ul {
      margin-top: 4.533vw; }
      .order .d-info .add ul li {
        padding: 0;
        line-height: 14vw;
        height: 14vw; }
        .order .d-info .add ul li .btn {
          height: 7.6vw;
          padding: 0 2.133vw;
          line-height: 7.6vw;
          margin-top: 3.2vw; }
        .order .d-info .add ul li input {
          background: #f8f8f8; }
      .order .d-info .add ul .txt-box {
        height: 25.333vw; }
        .order .d-info .add ul .txt-box textarea {
          border: 0;
          resize: none;
          background: #f8f8f8;
          display: block;
          width: 100%;
          font-size: 3.733vw;
          margin: 4vw 0;
          height: 17.333vw; }
      .order .d-info .add ul .radioarea .cont {
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0; }
        .order .d-info .add ul .radioarea .cont label {
          font-size: 3.733vw;
          color: #aaa;
          margin-right: 2.266vw; }
        .order .d-info .add ul .radioarea .cont .radio {
          display: inline-block;
          position: relative;
          width: 2.933vw;
          height: 2.133vw;
          margin-right: 7.466vw; }
          .order .d-info .add ul .radioarea .cont .radio input {
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            visibility: hidden;
            position: absolute; }
          .order .d-info .add ul .radioarea .cont .radio input + label {
            background: url("/_ui/img/m/icn/icn-check03-off.png") no-repeat;
            background-size: 100%;
            width: 2.933vw;
            height: 2.133vw;
            position: absolute;
            top: 0;
            left: 0; }
          .order .d-info .add ul .radioarea .cont .radio input:checked + label {
            background: url("/_ui/img/m/icn/icn-check03.png") no-repeat;
            background-size: 100%; }
    .order .d-info .add .btn-area {
      overflow: hidden;
      margin-top: 12.133vw; }
      .order .d-info .add .btn-area a {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 4vw;
        float: left;
        width: 44vw;
        height: 10.933vw;
        line-height: 10.933vw;
        text-align: center;
        font-weight: 700; }
      .order .d-info .add .btn-area .close {
        color: #1f1f1f;
        border: .266vw #e8e8e8 solid;
        margin-right: 2.4vw; }
      .order .d-info .add .btn-area .finish {
        color: #fff;
        background: #1f1f1f; }
  .order .d-info li {
    overflow: hidden;
    font-size: 3.733vw;
    padding: 4.8vw 0;
    border-bottom: .266vw #f1f1f1 solid;
    line-height: 5.333vw; }
    .order .d-info li .tit {
      float: left;
      width: 23.6vw;
      color: #898989; }
    .order .d-info li .cont {
      float: left;
      width: 66.8vw;
      color: #1f1f1f; }
      .order .d-info li .cont input {
        font-size: 3.733vw;
        width: 100%; }
      .order .d-info li .cont .btn {
        float: right;
        font-size: 3.466vw;
        color: #1f1f1f;
        border: .266vw #f1f1f1 solid;
        padding: 2vw; }
    .order .d-info li.zip-code {
      padding: 3.6vw 0; }
      .order .d-info li.zip-code .tit {
        line-height: 8.133vw; }
      .order .d-info li.zip-code .cont span {
        line-height: 8.133vw; }
    .order .d-info li.request-box .cont {
      width: 100%; }
    .order .d-info li.request-box select {
      font-size: 3.733vw;
      border-radius: 0;
      display: inline-block;
      background: url("/_ui/img/m/icn/icn-arrow05.png") no-repeat 100% 50%;
      background-size: 2vw 1.2vw; }
    .order .d-info li.request-box .request-txt {
      display: none;
      width: 100%;
      height: 29.066vw;
      resize: none;
      border: 0;
      margin-top: 4.8vw;
      border-top: .266vw #f1f1f1 solid;
      padding: 5.333vw 0;
      font-size: 3.733vw; }
    .order .d-info li.request-box .request-txt.on {
      display: block; }

.order .d-top {
  padding: 6.666vw 0;
  overflow: hidden;
  border-top: .8vw #000 solid; }
  .order .d-top h3 {
    font-size: 4vw;
    color: #1f1f1f;
    float: left;
    font-weight: 700; }
  .order .d-top div {
    float: right; }
    .order .d-top div a {
      color: #1f1f1f;
      font-size: 3.733vw;
      margin-left: 8.666vw; }

.complete {
  padding: 0 4.8vw 16vw; }
  .complete .pop-close {
    display: block;
    width: 3.733vw;
    height: 3.733vw;
    background: url("/_ui/img/m/icn/icn-close.png") no-repeat;
    font-size: 0;
    text-indent: -999px;
    position: absolute;
    top: 5.333vw;
    right: 4.8vw;
    background-size: 100%; }
  .complete h1 {
    line-height: 14.4vw;
    text-align: center;
    font-size: 4.533vw;
    color: #000;
    font-weight: 700; }
  .complete .box1 {
    text-align: center;
    padding-bottom: 12.266vw; }
    .complete .box1 h3 {
      margin-top: 11.866vw;
      padding-top: 23.066vw;
      background: url("/_ui/img/m/icn/icn-order.png") no-repeat center top;
      background-size: 12.8vw 15.066vw;
      font-size: 5.333vw;
      color: #000;
      margin-bottom: 10.666vw;
      line-height: 8vw; }
    .complete .box1 h3 + div {
      font-size: 4.266vw; }
      .complete .box1 h3 + div p {
        display: inline-block;
        margin-right: 7.6vw; }
        .complete .box1 h3 + div p i {
          color: #f23d4e; }
      .complete .box1 h3 + div a {
        display: inline-block;
        text-decoration: underline;
        color: #898989; }
    .complete .box1 div + p {
      margin-top: 11.066vw;
      color: #898989;
      font-size: 3.733vw;
      line-height: 4.933vw; }
      .complete .box1 div + p a {
        color: #898989; }
  .complete .box2 {
    border-top: .8vw #000 solid;
    padding-top: 6.4vw; }
    .complete .box2 h3 {
      font-size: 4vw;
      color: #1f1f1f;
      font-weight: 700; }
    .complete .box2 .dl-table {
      margin-top: 8.8vw;
      font-size: 3.466vw;
      overflow: hidden;
      border-bottom: .266vw #f1f1f1 solid; }
      .complete .box2 .dl-table dl {
        overflow: hidden; }
      .complete .box2 .dl-table dt {
        color: #898989;
        height: 10.666vw;
        line-height: 10.666vw;
        width: 33.333%;
        float: left;
        border-top: .266vw #f1f1f1 solid;
        clear: both; }
      .complete .box2 .dl-table .dt {
        text-align: left;
        color: #898989; }
      .complete .box2 .dl-table dd {
        color: #1f1f1f;
        height: 10.266vw;
        line-height: 10.266vw;
        width: 33.333%;
        float: left;
        text-align: right;
        border-top: .266vw #f1f1f1 solid; }
      .complete .box2 .dl-table dt:first-child {
        border-top: 0; }
      .complete .box2 .dl-table dt:first-child + dd {
        border-top: 0; }
      .complete .box2 .dl-table .bd0 {
        border-top: 0; }
      .complete .box2 .dl-table .l2 {
        line-height: 5.333vw;
        padding: 1.866vw 0; }
      .complete .box2 .dl-table .l3 {
        height: auto;
        line-height: 5.333vw;
        padding: 2.666vw 0; }
      .complete .box2 .dl-table dl > dt:first-child {
        border-top: 0; }
      .complete .box2 .dl-table dl > dt:first-child + dd {
        border-top: 0; }
      .complete .box2 .dl-table .colspan {
        width: 66.666%; }
      .complete .box2 .dl-table .rowspan {
        height: auto; }
      .complete .box2 .dl-table .rowspan + dd {
        height: auto;
        width: 66.666%; }
        .complete .box2 .dl-table .rowspan + dd dt {
          width: 50%;
          text-align: left; }
        .complete .box2 .dl-table .rowspan + dd dd {
          width: 50%; }
    .complete .box2 .virtual-info {
      float: right;
      margin-top: 1.6vw;
      color: #898989;
      white-space: nowrap; }
    .complete .box2 .total {
      margin-top: 6.666vw;
      font-size: 4.533vw;
      overflow: hidden; }
      .complete .box2 .total dt {
        float: left;
        color: #1f1f1f; }
      .complete .box2 .total dd {
        float: right;
        color: #f23d4e;
        font-weight: 700; }
        .complete .box2 .total dd i {
          color: #1f1f1f; }
    .complete .box2 .btns {
      font-size: 0;
      letter-spacing: 0;
      word-spacing: 0;
      margin-top: 13.733vw; }
      .complete .box2 .btns a {
        display: inline-block;
        width: 44vw;
        height: 10.933vw;
        border: .266vw #f1f1f1 solid;
        line-height: 10.933vw;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        text-align: center;
        font-size: 3.466vw;
        color: #1f1f1f; }
      .complete .box2 .btns a + a {
        margin-left: 2.4vw; }

.mypage-order {
  background: #f3f4f7;
  padding-top: 5.2vw; }
  .mypage-order .my-order-check {
    width: 80.266vw;
    margin: 0 auto;
    background: #fff;
    padding: 5.066vw 5.066vw 6.666vw; }
    .mypage-order .my-order-check .tit-top {
      overflow: hidden;
      margin-bottom: 3.2vw; }
      .mypage-order .my-order-check .tit-top h3 {
        font-size: 4vw;
        font-weight: 700;
        color: #1f1f1f;
        float: left; }
      .mypage-order .my-order-check .tit-top .btn-guide {
        float: right;
        font-size: 3.466vw;
        color: #898989;
        background: url("/_ui/img/m/icn/icn-guide.png") no-repeat right center;
        background-size: 3.2vw 3.2vw;
        padding-right: 4.666vw; }
    .mypage-order .my-order-check p {
      font-size: 3.466vw;
      color: #aaa;
      line-height: 4.533vw;
      margin-bottom: 4.666vw; }
    .mypage-order .my-order-check .cs-depth3 {
      padding: 0; }
      .mypage-order .my-order-check .cs-depth3 ul {
        margin: 5.866vw 0 6.8vw; }
    .mypage-order .my-order-check .btn-inquiry {
      text-align: center; }
      .mypage-order .my-order-check .btn-inquiry a {
        color: #1f1f1f;
        font-size: 4.266vw; }
    .mypage-order .my-order-check select {
      background: #fff url("/_ui/img/m/icn/icn-arrow02.png") no-repeat 99% 50%;
      background-size: 3vw;
      font-size: 3.733vw;
      line-height: 10.8vw;
      border-bottom: .266vw #eee solid; }
    .mypage-order .my-order-check .add-prod {
      margin-top: 3.866vw;
      overflow: hidden; }
      .mypage-order .my-order-check .add-prod select {
        width: 20.533vw;
        float: left; }
      .mypage-order .my-order-check .add-prod input {
        width: 53.333vw;
        margin-left: 5.6vw;
        float: left;
        border-bottom: .266vw #eee solid;
        line-height: 10.8vw;
        font-size: 3.733vw; }
  .mypage-order .my-order-result > ul {
    padding-bottom: 3.2vw; }
  .mypage-order .my-order-result .result-x {
    font-size: 4.266vw;
    color: #aaa;
    text-align: center;
    padding: 16.4vw 0 28.266vw; }
  .mypage-order .my-order-result h3 {
    font-size: 4vw;
    color: #1f1f1f;
    font-weight: 700;
    padding: 12vw 0 4.666vw 4.8vw; }
  .mypage-order .my-order-result h3 + ul {
    padding-bottom: 4.566vw; }
  .mypage-order .my-order-result ul .bundle > ul > li {
    padding: 3.733vw 3.2vw 4.4vw;
    margin-top: 2.133vw; }
  .mypage-order .my-order-result ul .bundle.cancel > ul > li {
    padding: 3.733vw 3.2vw 0; }
    .mypage-order .my-order-result ul .bundle.cancel > ul > li .set-pord li {
      margin-top: 5.866vw; }
      .mypage-order .my-order-result ul .bundle.cancel > ul > li .set-pord li:first-child {
        margin-top: 0; }
  .mypage-order .my-order-result ul .bundle.cancel li .option {
    margin: 4.266vw 0 1.6vw; }
  .mypage-order .my-order-result ul .bundle.cancel li .prod {
    margin-bottom: 3.333vw; }
  .mypage-order .my-order-result ul .bundle {
    width: 93.6vw;
    margin: 9.6vw auto 0; }
    .mypage-order .my-order-result ul .bundle:first-child {
      margin-top: 0; }
    .mypage-order .my-order-result ul .bundle .order-num {
      font-size: 3.466vw;
      color: #898989;
      overflow: hidden;
      margin-left: 1.866vw;
      height: 4.266vw;
      line-height: 4.266vw;
      margin-bottom: 3.333vw; }
      .mypage-order .my-order-result ul .bundle .order-num dt {
        float: left;
        margin-right: 1.866vw; }
      .mypage-order .my-order-result ul .bundle .order-num dd {
        float: left; }
      .mypage-order .my-order-result ul .bundle .order-num dt + dd {
        color: #1f1f1f;
        font-weight: 700; }
        .mypage-order .my-order-result ul .bundle .order-num dt + dd::after {
          content: '';
          display: inline-block;
          width: .266vw;
          height: 2.666vw;
          background: #e0e0e0;
          margin: 0 1.866vw; }
    .mypage-order .my-order-result ul .bundle li {
      overflow: hidden;
      background: #fff; }
      .mypage-order .my-order-result ul .bundle li:first-child {
        margin-top: 0; }
      .mypage-order .my-order-result ul .bundle li .prod {
        width: 25.333vw;
        float: left;
        height: 30.933vw;
        margin-bottom: 6.133vw; }
      .mypage-order .my-order-result ul .bundle li .t1 {
        margin: 1.333vw 0 2.666vw;
        overflow: hidden; }
        .mypage-order .my-order-result ul .bundle li .t1 .brand {
          font-weight: 700;
          font-size: 2.666vw;
          color: #1f1f1f; }
        .mypage-order .my-order-result ul .bundle li .t1 .brand + span {
          font-size: 2.4vw;
          color: #bbb;
          float: right; }
      .mypage-order .my-order-result ul .bundle li .t2 {
        font-size: 3.733vw;
        margin-bottom: 1.333vw;
        color: #1f1f1f;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden; }
      .mypage-order .my-order-result ul .bundle li .info {
        width: 57.333vw;
        height: 30.933vw;
        padding-left: 4vw;
        float: left;
        position: relative; }
      .mypage-order .my-order-result ul .bundle li .option {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 57.333vw;
        left: 4vw;
        font-size: 3.2vw;
        color: #898989;
        line-height: 4.8vw; }
        .mypage-order .my-order-result ul .bundle li .option dt {
          float: left;
          width: 30%; }
        .mypage-order .my-order-result ul .bundle li .option dd {
          float: left;
          width: 70%; }
        .mypage-order .my-order-result ul .bundle li .option .price {
          color: #1f1f1f;
          font-weight: 700; }
        .mypage-order .my-order-result ul .bundle li .option .set a {
          color: #1f1f1f;
          display: inline-block;
          margin-top: 1.333vw; }
          .mypage-order .my-order-result ul .bundle li .option .set a::after {
            content: '';
            display: inline-block;
            background: url("/_ui/img/m/icn/icn-arrow05.png") no-repeat center center;
            background-size: 2vw 1.2vw;
            width: 2vw;
            height: 1.2vw;
            padding: 0 1.066vw;
            vertical-align: middle; }
        .mypage-order .my-order-result ul .bundle li .option .set-open::after {
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      .mypage-order .my-order-result ul .bundle li .set-prod {
        display: none;
        clear: both;
        margin-top: 5.333vw;
        padding-top: 6.933vw;
        border-top: .266vw #f1f1f1 solid; }
        .mypage-order .my-order-result ul .bundle li .set-prod .prod {
          margin-bottom: 3.466vw; }
      .mypage-order .my-order-result ul .bundle li .btm.mb {
        margin-bottom: 5.333vw; }
      .mypage-order .my-order-result ul .bundle li .btm {
        clear: both;
        overflow: hidden; }
        .mypage-order .my-order-result ul .bundle li .btm p {
          float: left;
          font-size: 3.466vw;
          color: #898989; }
          .mypage-order .my-order-result ul .bundle li .btm p span + span {
            margin-left: 2.533vw;
            padding-left: 2.533vw;
            border-left: .266vw #f3f4f7 solid; }
          .mypage-order .my-order-result ul .bundle li .btm p .cancel {
            color: #f23d4e; }
        .mypage-order .my-order-result ul .bundle li .btm a {
          float: right;
          color: #1f1f1f;
          font-size: 3.466vw; }
        .mypage-order .my-order-result ul .bundle li .btm a + a {
          margin-right: 6.666vw; }
      .mypage-order .my-order-result ul .bundle li .ch-area {
        margin-bottom: 2.933vw; }
      .mypage-order .my-order-result ul .bundle li .cause {
        padding: 0 5.6vw;
        color: #1f1f1f;
        font-size: 3.733vw;
        height: 15.466vw;
        line-height: 15.466vw;
        background: #fcfcfc url("/_ui/img/m/icn/icn-arrow04.png") no-repeat 94% 50%;
        background-size: 3vw;
        width: 93.6vw;
        margin-left: -3.2vw; }
      .mypage-order .my-order-result ul .bundle li .cause.cause-size {
        display: none; }
      .mypage-order .my-order-result ul .bundle li .request-txt {
        display: none;
        width: 93.6vw;
        height: 36.666vw;
        border: 0;
        resize: none;
        margin-left: -3.2vw;
        background: #fcfcfc;
        padding-bottom: 6.133vw; }
        .mypage-order .my-order-result ul .bundle li .request-txt textarea {
          font-size: 3.733vw;
          resize: none;
          border: 0;
          background: none;
          padding: 0 5.6vw;
          height: 36.4vw;
          border-bottom: .266vw #e0e0e0 solid;
          width: 87.2vw;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin: 0 auto;
          display: block; }
      .mypage-order .my-order-result ul .bundle li .prod-add.set .box {
        float: right; }
      .mypage-order .my-order-result ul .bundle li .prod-add {
        height: 9.866vw;
        line-height: 9.866vw;
        margin-bottom: 3.6vw; }
        .mypage-order .my-order-result ul .bundle li .prod-add p {
          width: 29.733vw; }
    .mypage-order .my-order-result ul .bundle .pickup-info {
      background: #fafafa;
      overflow: hidden;
      padding: 5.333vw 0; }
      .mypage-order .my-order-result ul .bundle .pickup-info dl {
        font-size: 3.466vw;
        line-height: 4.8vw;
        margin-left: 3.466vw;
        float: left; }
        .mypage-order .my-order-result ul .bundle .pickup-info dl dt {
          color: #1f1f1f; }
        .mypage-order .my-order-result ul .bundle .pickup-info dl dd {
          color: #898989; }
      .mypage-order .my-order-result ul .bundle .pickup-info .cancel dt {
        color: #ccc; }
      .mypage-order .my-order-result ul .bundle .pickup-info .cancel dd {
        color: #ccc; }
      .mypage-order .my-order-result ul .bundle .pickup-info a {
        display: block;
        float: right;
        background: #fff;
        color: #1f1f1f;
        font-size: 3.466vw;
        margin-top: 1.6vw;
        margin-right: 3.466vw;
        width: 19.066vw;
        height: 7.733vw;
        line-height: 7.733vw;
        text-align: center; }
  .mypage-order .my-order-result .order-detail .bundle .order-num {
    margin: 1.066vw 0 6.8vw;
    text-align: center;
    font-size: 4.533vw;
    height: auto;
    line-height: 5.333vw;
    color: #1f1f1f; }
    .mypage-order .my-order-result .order-detail .bundle .order-num i {
      color: #898989;
      margin-left: .8vw; }
  .mypage-order .my-order-result .order-detail .bundle li .option {
    position: static;
    margin-top: 5.333vw;
    margin-bottom: 7.333vw; }
  .mypage-order .my-order-result .order-detail .bundle li .info {
    height: auto; }
  .mypage-order .complete {
    background: #fff;
    padding: 0 4.8vw 9.2vw; }
    .mypage-order .complete .box h3 {
      font-weight: 700; }
  .mypage-order .order {
    padding-bottom: 0;
    margin-top: 3.466vw; }
    .mypage-order .order .d-info {
      background: #fff; }
      .mypage-order .order .d-info li .cont {
        color: #898989; }
      .mypage-order .order .d-info li .name {
        color: #1f1f1f; }
      .mypage-order .order .d-info li:last-child {
        border-bottom: 0;
        padding: 4.8vw 0 11.6vw; }
    .mypage-order .order .d-top {
      border-top: 0; }
      .mypage-order .order .d-top h3 {
        font-size: 4vw;
        color: #1f1f1f;
        float: left;
        font-weight: 700; }
  .mypage-order .payment {
    background: #fff;
    padding: 9.2vw 4.8vw 10.533vw;
    margin-top: 3.466vw; }
    .mypage-order .payment h3 {
      font-size: 4vw;
      color: #1f1f1f;
      font-weight: 700;
      margin-bottom: 7.2vw; }
    .mypage-order .payment dl {
      overflow: hidden;
      line-height: 8vw; }
      .mypage-order .payment dl dt {
        float: left;
        width: 33.333%;
        font-size: 3.733vw;
        color: #898989; }
      .mypage-order .payment dl dd {
        float: left;
        width: 33.333%; }
      .mypage-order .payment dl dt + dd {
        font-weight: 700;
        font-size: 4.533vw;
        color: #000; }
      .mypage-order .payment dl dd + dd a {
        display: block;
        color: #fff;
        background: #f23d4e;
        font-size: 3.466vw;
        float: right;
        width: 22.666vw;
        height: 8vw;
        line-height: 8vw;
        text-align: center; }
  .mypage-order .btn-back {
    text-align: center;
    background: #fff;
    padding-bottom: 6vw; }
    .mypage-order .btn-back a {
      display: block;
      width: 90.4vw;
      height: 10.666vw;
      border: .266vw #f1f1f1 solid;
      font-size: 3.466vw;
      color: #1f1f1f;
      margin: 0 auto;
      line-height: 10.666vw; }
  .mypage-order .order-number {
    padding: 10.933vw 0 8.266vw;
    text-align: center; }
    .mypage-order .order-number p {
      font-size: 4.533vw;
      color: #1f1f1f; }
      .mypage-order .order-number p i {
        color: #898989; }
    .mypage-order .order-number p + p {
      font-size: 3.733vw;
      color: #898989;
      margin-top: 2.666vw; }
  .mypage-order .order-number + .top {
    padding: 0 0 4.266vw;
    width: 90.4vw;
    margin: 0 auto 9.333vw;
    border-bottom: .8vw #000 solid; }
  .mypage-order .order.cancel-refund {
    background: #fff;
    padding: 0 4.8vw;
    margin-top: 0; }
    .mypage-order .order.cancel-refund h3 {
      padding-top: 9.066vw;
      border-top: .8vw #000 solid;
      font-size: 4vw;
      color: #1f1f1f;
      font-weight: 700;
      margin-bottom: 4.933vw; }
    .mypage-order .order.cancel-refund .dl-table {
      overflow: hidden;
      font-size: 3.733vw; }
      .mypage-order .order.cancel-refund .dl-table .thead {
        height: 12.533vw;
        line-height: 12.533vw;
        color: #1f1f1f;
        border-bottom: 0; }
      .mypage-order .order.cancel-refund .dl-table .thead + .thead {
        text-align: right; }
      .mypage-order .order.cancel-refund .dl-table dt {
        color: #898989;
        border-bottom: .266vw #f1f1f1 solid;
        height: 10.666vw;
        line-height: 10.666vw;
        float: left;
        width: 33.333%; }
      .mypage-order .order.cancel-refund .dl-table dd {
        color: #1f1f1f;
        border-bottom: .266vw #f1f1f1 solid;
        height: 10.666vw;
        line-height: 10.666vw;
        float: left;
        width: 33.333%;
        text-align: right; }
    .mypage-order .order.cancel-refund .total {
      margin-top: 6.8vw;
      overflow: hidden;
      font-size: 4.533vw;
      color: #1f1f1f; }
      .mypage-order .order.cancel-refund .total dt {
        float: left; }
      .mypage-order .order.cancel-refund .total dd {
        float: right; }
        .mypage-order .order.cancel-refund .total dd i {
          color: #f23d4e;
          font-weight: 700; }
  .mypage-order .cancel-btns {
    padding: 9.2vw 4.8vw 17.2vw;
    background: #fff;
    overflow: hidden; }
    .mypage-order .cancel-btns a {
      float: left;
      display: block;
      width: 43.866vw;
      height: 10.933vw;
      line-height: 10.933vw;
      text-align: center;
      font-size: 3.466vw;
      font-weight: 700;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .mypage-order .cancel-btns .btn1 {
      color: #1f1f1f;
      border: .266vw #f1f1f1 solid;
      margin-right: 2.133vw; }
    .mypage-order .cancel-btns .btn2 {
      color: #fff;
      background: #1f1f1f; }
  .mypage-order .cancel-end {
    padding-top: 14.533vw;
    padding-bottom: 4.8vw;
    text-align: center; }
    .mypage-order .cancel-end h3 {
      padding-top: 23.2vw;
      background: url("/_ui/img/m/icn/icn-order-cancel.png") no-repeat center top;
      background-size: 16.8vw 17.066vw;
      font-size: 5.333vw;
      color: #000;
      line-height: 6.933vw; }
    .mypage-order .cancel-end p {
      font-size: 3.733vw;
      color: #898989;
      margin-top: 9.6vw;
      line-height: 5.066vw; }
    .mypage-order .cancel-end .btn {
      padding: 71.6vw 4.8vw 0; }
      .mypage-order .cancel-end .btn a {
        display: block;
        height: 13.066vw;
        line-height: 13.066vw;
        color: #1f1f1f;
        font-size: 4vw;
        font-weight: 700;
        border: .266vw #f1f1f1 solid;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
  .mypage-order .cancel-end.exchange h3 {
    padding-top: 23.066vw;
    background: url("/_ui/img/m/icn/icn-order-exchange.png") no-repeat center top;
    background-size: 12.8vw 15.066vw; }
  .mypage-order .cancel-end.return h3 {
    background: url("/_ui/img/m/icn/icn-order-return.png") no-repeat center top;
    background-size: 12.8vw 15.066vw; }
  .mypage-order .cancel-end.return p {
    margin-bottom: 8vw; }
  .mypage-order .cancel-end.return small {
    font-size: 3.2vw;
    color: #898989;
    padding-top: 6.533vw;
    background: url("/_ui/img/m/icn/icn-quotes.png") no-repeat center top;
    background-size: 2.266vw 2.133vw;
    display: block; }
  .mypage-order .cancel-end.return .btn {
    padding: 39.333vw 4.8vw 0; }
  .mypage-order .cancel-exchange.order {
    background: #fff;
    margin-top: 0; }
    .mypage-order .cancel-exchange.order .box2 {
      background: #fafafa;
      overflow: hidden;
      padding: 4.8vw;
      font-size: 3.733vw; }
      .mypage-order .cancel-exchange.order .box2 span {
        float: left;
        color: #898989; }
      .mypage-order .cancel-exchange.order .box2 span + span {
        float: right;
        color: #1f1f1f;
        font-weight: 700; }
  .mypage-order .cancel-exchange > div {
    padding: 0 4.8vw; }
    .mypage-order .cancel-exchange > div h3 {
      font-size: 4vw;
      color: #1f1f1f;
      font-weight: 700;
      padding-top: 9.2vw; }
    .mypage-order .cancel-exchange > div h4 {
      color: #1f1f1f;
      font-size: 3.466vw;
      margin: 6.666vw 0 3.866vw;
      padding-left: 2.666vw; }
    .mypage-order .cancel-exchange > div .bd {
      border-top: .8vw #000 solid; }
    .mypage-order .cancel-exchange > div .t1 {
      font-size: 3.6vw;
      color: #898989;
      margin-top: 5.866vw;
      line-height: 5.2vw;
      letter-spacing: -.133vw; }
      .mypage-order .cancel-exchange > div .t1 i {
        color: #1f1f1f; }
    .mypage-order .cancel-exchange > div .t1 + .t1 {
      margin-top: 2vw;
      margin-bottom: 5.866vw; }
    .mypage-order .cancel-exchange > div h3 + ul {
      margin-top: 33px; }
    .mypage-order .cancel-exchange > div li {
      list-style: disc;
      font-size: 4.4vw;
      color: #aaa;
      line-height: 4.8vw;
      margin-top: 1.333vw;
      letter-spacing: -.133vw; }
      .mypage-order .cancel-exchange > div li:first-child {
        margin-top: 0; }
    .mypage-order .cancel-exchange > div ul {
      padding-left: 2.666vw; }
  .mypage-order .order .d-info .add ul {
    padding-bottom: 9.6vw; }
    .mypage-order .order .d-info .add ul li input {
      background: #fff; }
    .mypage-order .order .d-info .add ul li textarea {
      background: #fff; }
    .mypage-order .order .d-info .add ul li .parcel-service {
      font-size: 3.733vw;
      display: inline-block;
      background: url("/_ui/img/m/icn/icn-arrow05.png") no-repeat 100% 50%;
      background-size: 2vw 1.2vw; }
    .mypage-order .order .d-info .add ul li:last-child {
      padding: 0;
      border-bottom: .266vw #f1f1f1 solid; }
    .mypage-order .order .d-info .add ul .calendar .cont a {
      display: block;
      width: 8.266vw;
      height: 8.266vw;
      background: url("/_ui/img/m/icn/icn-calendar.png") no-repeat;
      background-size: 100%;
      font-size: 0;
      text-indent: -9999px;
      float: right;
      margin-top: 2.8vw; }
  .mypage-order .order.cancel-return {
    margin-top: 0; }
    .mypage-order .order.cancel-return .d-top {
      padding-top: 9.333vw;
      border-top: .8vw #000 solid; }
      .mypage-order .order.cancel-return .d-top .btn-tg a {
        display: block;
        font-size: 3.466vw;
        color: #aaa;
        background: url("/_ui/img/m/icn/icn-check10-1.png") no-repeat right center;
        background-size: 2.933 2.133vw;
        padding-right: 4vw;
        margin-left: 0;
        line-height: 5.333vw; }
      .mypage-order .order.cancel-return .d-top .btn-tg .tg {
        background: url("/_ui/img/m/icn/icn-check10.png") no-repeat right center;
        background-size: 2.933 2.133vw;
        color: #1f1f1f; }
    .mypage-order .order.cancel-return .d-top + div .check + label {
      font-weight: 300; }
    .mypage-order .order.cancel-return .d-info .add {
      border-top: 0; }
    .mypage-order .order.cancel-return .d-info .ad2 {
      display: none; }
  .mypage-order .order.cancel-gift {
    background: #f7f7f7;
    margin-top: 0; }
    .mypage-order .order.cancel-gift .d-top {
      padding: 9.2vw 4.8vw 8.533vw; }
      .mypage-order .order.cancel-gift .d-top h3 {
        float: none; }
      .mypage-order .order.cancel-gift .d-top p {
        float: none;
        color: #898989;
        font-size: 3.2vw;
        margin-top: 2.266vw;
        letter-spacing: -.133vw; }
    .mypage-order .order.cancel-gift .gift {
      margin-bottom: 0; }
      .mypage-order .order.cancel-gift .gift .gift-choice {
        display: block;
        padding-top: 0; }
  .mypage-order .cancel-gift + .complete .box2 {
    border-top: 0; }
  .mypage-order .cancel-gift + .complete + .complete .box2 {
    border-top: 0;
    padding-top: 0; }
    .mypage-order .cancel-gift + .complete + .complete .box2 h3 {
      padding: 8.533vw 0 0;
      border-top: .8vw #000 solid;
      width: 90.4vw;
      margin: 0 auto; }
  .mypage-order .complete.cancel {
    padding: 0 0 69px; }
  .mypage-order .cancel .box2 {
    padding-top: 8.533vw; }
    .mypage-order .cancel .box2 h3 {
      padding: 0 4.8vw; }
    .mypage-order .cancel .box2 .dl-table {
      margin-top: 4.533vw;
      padding: 0 4.8vw; }
    .mypage-order .cancel .box2 .dl-table.bb0 {
      border-bottom: 0; }
    .mypage-order .cancel .box2 .total {
      padding: 0 4.8vw; }
    .mypage-order .cancel .box2 .btns-tab {
      padding: 0 4.8vw 3.866vw;
      overflow: hidden;
      text-align: right;
      font-size: 0;
      letter-spacing: 0;
      word-spacing: 0;
      margin-top: 5.466vw; }
      .mypage-order .cancel .box2 .btns-tab a {
        padding-right: 4vw;
        background: url("/_ui/img/m/icn/icn-check10-1.png") no-repeat right center;
        background-size: 2.933vw 2.133vw;
        margin-left: 4vw;
        display: inline-block;
        font-size: 3.466vw;
        color: #ccc; }
      .mypage-order .cancel .box2 .btns-tab .on {
        background: url("/_ui/img/m/icn/icn-check10.png") no-repeat right center;
        background-size: 2.933vw 2.133vw;
        color: #1f1f1f; }
    .mypage-order .cancel .box2 .tab-info {
      padding: 6.533vw 4.8vw;
      background: #f7f7f7;
      font-size: 3.2vw; }
      .mypage-order .cancel .box2 .tab-info div {
        display: none; }
      .mypage-order .cancel .box2 .tab-info .tab-on {
        display: block; }
      .mypage-order .cancel .box2 .tab-info .tit {
        color: #1f1f1f;
        margin-bottom: 2vw; }
      .mypage-order .cancel .box2 .tab-info .txt {
        color: #898989;
        line-height: 4vw; }
      .mypage-order .cancel .box2 .tab-info .txt + .txt {
        margin-top: 3.066vw; }
  .mypage-order .return-notice {
    background: #fff;
    padding: 0 6.666vw; }
    .mypage-order .return-notice h3 {
      border-top: .8vw #000 solid;
      font-size: 3.466vw;
      padding-top: 9.066vw;
      color: #1f1f1f; }
    .mypage-order .return-notice ul {
      padding-left: 2.666vw;
      margin: 4.133vw 0 5.6vw; }
      .mypage-order .return-notice ul li {
        list-style: disc;
        font-size: 3.466vw;
        color: #aaa;
        line-height: 4.4vw;
        margin-top: 1.733vw; }
        .mypage-order .return-notice ul li:first-child {
          margin-top: 0; }
    .mypage-order .return-notice a {
      font-size: 3.466vw;
      color: #1f1f1f;
      text-decoration: underline; }

@media (min-width: 750px) {
  .scr-navi {
    width: 678px; }
    .scr-navi .swiper-wrapper .swiper-slide a {
      height: 100px;
      line-height: 100px;
      font-size: 30px; }
    .scr-navi .swiper-wrapper + .icn-navi {
      height: 100px;
      background-position: right center; }
  .wrap-form-login .form-login {
    padding: 0 76px; }
    .wrap-form-login .form-login .in-txt input {
      padding: 55px 0 26px;
      font-size: 28px;
      border-bottom: 2px solid #eee; }
      .wrap-form-login .form-login .in-txt input.active {
        border-bottom: 2px solid #1f1f1f; }
    .wrap-form-login .form-login .in-txt span {
      height: 80px;
      line-height: 80px;
      font-size: 28px; }
    .wrap-form-login .form-login .btns .btn {
      margin-top: 60px;
      font-size: 28px; }
  .wrap-form-login .txt-info {
    padding: 70px 76px 580px; }
    .wrap-form-login .txt-info h4 {
      font-size: 28px; }
    .wrap-form-login .txt-info ul {
      margin-top: 34px; }
      .wrap-form-login .txt-info ul li {
        font-size: 26px;
        color: #aaa;
        line-height: 36px; }
        .wrap-form-login .txt-info ul li:first-child {
          padding-bottom: 10px; }
  .order .d-info {
    padding: 0 36px; }
    .order .d-info .add {
      border-top: 6px #000 solid; }
      .order .d-info .add ul {
        margin-top: 34px; }
        .order .d-info .add ul li {
          line-height: 105px;
          height: 105px; }
          .order .d-info .add ul li .btn {
            height: 57px;
            padding: 0 16px;
            line-height: 57px;
            margin-top: 24px; }
        .order .d-info .add ul .txt-box {
          height: 190px; }
          .order .d-info .add ul .txt-box textarea {
            font-size: 28px;
            margin: 30px 0;
            height: 130px; }
        .order .d-info .add ul .radioarea .cont label {
          font-size: 28px;
          margin-right: 17px; }
        .order .d-info .add ul .radioarea .cont .radio {
          width: 22px;
          height: 16px;
          margin-right: 56px; }
          .order .d-info .add ul .radioarea .cont .radio input + label {
            width: 22px;
            height: 16px; }
      .order .d-info .add .btn-area {
        margin-top: 91px; }
        .order .d-info .add .btn-area a {
          font-size: 30px;
          width: 330px;
          height: 82px;
          line-height: 82px; }
        .order .d-info .add .btn-area .close {
          border: 2px #e8e8e8 solid;
          margin-right: 18px; }
    .order .d-info li {
      font-size: 28px;
      padding: 36px 0;
      border-bottom: 2px #f1f1f1 solid;
      line-height: 40px; }
      .order .d-info li .tit {
        width: 177px; }
      .order .d-info li .cont {
        width: 501px; }
        .order .d-info li .cont input {
          font-size: 28px; }
        .order .d-info li .cont .btn {
          font-size: 26px;
          border: 2px #f1f1f1 solid;
          padding: 15px; }
      .order .d-info li.zip-code {
        padding: 27px 0; }
        .order .d-info li.zip-code .tit {
          line-height: 61px; }
        .order .d-info li.zip-code .cont span {
          line-height: 61px; }
      .order .d-info li.request-box select {
        font-size: 28px;
        background: url("/_ui/img/m/icn/icn-arrow05.png") no-repeat 100% 50%;
        background-size: 15px 9px; }
      .order .d-info li.request-box .request-txt {
        height: 218px;
        margin-top: 36px;
        border-top: 2px #f1f1f1 solid;
        padding: 40px 0;
        font-size: 28px; }
  .order .d-top {
    padding: 50px 0;
    border-top: 6px #000 solid; }
    .order .d-top h3 {
      font-size: 30px; }
    .order .d-top div a {
      font-size: 28px;
      margin-left: 65px; }
  .complete {
    padding: 0 36px 120px; }
    .complete .pop-close {
      width: 28px;
      height: 28px;
      top: 40px;
      right: 36px; }
    .complete h1 {
      line-height: 108px;
      font-size: 34px; }
    .complete .box1 {
      padding-bottom: 92px; }
      .complete .box1 h3 {
        margin-top: 89px;
        padding-top: 173px;
        background-size: 96px 113px;
        font-size: 40px;
        margin-bottom: 80px;
        line-height: 60px; }
      .complete .box1 h3 + div {
        font-size: 32px; }
        .complete .box1 h3 + div p {
          margin-right: 57px; }
      .complete .box1 div + p {
        margin-top: 83px;
        font-size: 28px;
        line-height: 37px; }
    .complete .box2 {
      border-top: 6px #000 solid;
      padding-top: 48px; }
      .complete .box2 h3 {
        font-size: 30px; }
      .complete .box2 .dl-table {
        margin-top: 66px;
        font-size: 26px;
        border-bottom: 2px #f1f1f1 solid; }
        .complete .box2 .dl-table dt {
          height: 80px;
          line-height: 80px;
          border-top: 2px #f1f1f1 solid; }
        .complete .box2 .dl-table dd {
          height: 80px;
          line-height: 80px;
          border-top: 2px #f1f1f1 solid; }
        .complete .box2 .dl-table .l2 {
          line-height: 40px;
          padding: 14px 0; }
        .complete .box2 .dl-table .l3 {
          line-height: 40px;
          padding: 20px 0; }
      .complete .box2 .virtual-info {
        margin-top: 12px; }
      .complete .box2 .total {
        margin-top: 50px;
        font-size: 34px; }
      .complete .box2 .btns {
        margin-top: 103px; }
        .complete .box2 .btns a {
          width: 330px;
          height: 82px;
          border: 2px #f1f1f1 solid;
          line-height: 82px;
          font-size: 26px; }
        .complete .box2 .btns a + a {
          margin-left: 18px; }
  .mypage-order {
    padding-top: 39px; }
    .mypage-order .my-order-check {
      width: 602px;
      padding: 38px 38px 50px; }
      .mypage-order .my-order-check .tit-top {
        margin-bottom: 24px; }
        .mypage-order .my-order-check .tit-top h3 {
          font-size: 30px; }
        .mypage-order .my-order-check .tit-top .btn-guide {
          font-size: 26px;
          background-size: 24px 24px;
          padding-right: 35px; }
      .mypage-order .my-order-check p {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 35px; }
      .mypage-order .my-order-check .cs-depth3 ul {
        margin: 44px 0 51px; }
      .mypage-order .my-order-check .btn-inquiry a {
        font-size: 32px; }
      .mypage-order .my-order-check select {
        background-size: 22.5px;
        font-size: 28px;
        line-height: 81px;
        border-bottom: 2px #eee solid; }
      .mypage-order .my-order-check .add-prod {
        margin-top: 29px; }
        .mypage-order .my-order-check .add-prod select {
          width: 154px; }
        .mypage-order .my-order-check .add-prod input {
          width: 400px;
          margin-left: 42px;
          float: left;
          border-bottom: 2px #eee solid;
          line-height: 81px;
          font-size: 28px; }
    .mypage-order .my-order-result > ul {
      padding-bottom: 24px; }
    .mypage-order .my-order-result .result-x {
      font-size: 32px;
      padding: 123px 0 212px; }
    .mypage-order .my-order-result h3 {
      font-size: 30px;
      padding: 90px 0 35px 36px; }
    .mypage-order .my-order-result h3 + ul {
      padding-bottom: 34px; }
    .mypage-order .my-order-result ul .bundle > ul > li {
      padding: 28px 24px 33px;
      margin-top: 16px; }
    .mypage-order .my-order-result ul .bundle.cancel > ul > li {
      padding: 28px 24px 0; }
      .mypage-order .my-order-result ul .bundle.cancel > ul > li .set-pord li {
        margin-top: 44px; }
        .mypage-order .my-order-result ul .bundle.cancel > ul > li .set-pord li:first-child {
          margin-top: 0; }
    .mypage-order .my-order-result ul .bundle.cancel li .option {
      margin: 32px 0 12px; }
    .mypage-order .my-order-result ul .bundle.cancel li .prod {
      margin-bottom: 25px; }
    .mypage-order .my-order-result ul .bundle {
      width: 702px;
      margin: 72px auto 0; }
      .mypage-order .my-order-result ul .bundle .order-num {
        font-size: 26px;
        margin-left: 14px;
        height: 32px;
        line-height: 32px;
        margin-bottom: 25px; }
        .mypage-order .my-order-result ul .bundle .order-num dt {
          margin-right: 14px; }
        .mypage-order .my-order-result ul .bundle .order-num dt + dd::after {
          width: 2px;
          height: 20px;
          margin: 0 14px; }
      .mypage-order .my-order-result ul .bundle li .prod {
        width: 190px;
        height: 232px;
        margin-bottom: 46px; }
      .mypage-order .my-order-result ul .bundle li .t1 {
        margin: 10px 0 20px; }
        .mypage-order .my-order-result ul .bundle li .t1 .brand {
          font-size: 20px; }
        .mypage-order .my-order-result ul .bundle li .t1 .brand + span {
          font-size: 18px; }
      .mypage-order .my-order-result ul .bundle li .t2 {
        font-size: 28px;
        margin-bottom: 10px; }
      .mypage-order .my-order-result ul .bundle li .info {
        width: 430px;
        height: 232px;
        padding-left: 30px; }
      .mypage-order .my-order-result ul .bundle li .option {
        width: 430px;
        left: 30px;
        font-size: 24px;
        line-height: 36px; }
        .mypage-order .my-order-result ul .bundle li .option .set a {
          margin-top: 10px; }
          .mypage-order .my-order-result ul .bundle li .option .set a::after {
            background-size: 15px 9px;
            width: 15px;
            height: 9px;
            padding: 0 8px; }
      .mypage-order .my-order-result ul .bundle li .set-prod {
        margin-top: 40px;
        padding-top: 52px;
        border-top: 2px #f1f1f1 solid; }
        .mypage-order .my-order-result ul .bundle li .set-prod .prod {
          margin-bottom: 26px; }
      .mypage-order .my-order-result ul .bundle li .btm.mb {
        margin-bottom: 40px; }
      .mypage-order .my-order-result ul .bundle li .btm p {
        font-size: 26px; }
        .mypage-order .my-order-result ul .bundle li .btm p span + span {
          margin-left: 19px;
          padding-left: 19px;
          border-left: 2px #f3f4f7 solid; }
      .mypage-order .my-order-result ul .bundle li .btm a {
        font-size: 26px; }
      .mypage-order .my-order-result ul .bundle li .btm a + a {
        margin-right: 50px; }
      .mypage-order .my-order-result ul .bundle li .ch-area {
        margin-bottom: 22px; }
      .mypage-order .my-order-result ul .bundle li .cause {
        padding: 0 42px;
        font-size: 28px;
        height: 116px;
        line-height: 116px;
        background-size: 22.5px;
        width: 702px;
        margin-left: -24px; }
      .mypage-order .my-order-result ul .bundle li .request-txt {
        width: 702px;
        height: 275px;
        margin-left: -24px;
        padding-bottom: 46px; }
        .mypage-order .my-order-result ul .bundle li .request-txt textarea {
          font-size: 28px;
          padding: 0 42px;
          height: 273px;
          border-bottom: 2px #e0e0e0 solid;
          width: 654px; }
      .mypage-order .my-order-result ul .bundle li .prod-add {
        height: 74px;
        line-height: 74px;
        margin-bottom: 27px; }
        .mypage-order .my-order-result ul .bundle li .prod-add p {
          width: 223px; }
        .mypage-order .my-order-result ul .bundle li .prod-add .box {
          width: 431px; }
          .mypage-order .my-order-result ul .bundle li .prod-add .box span {
            font-size: 26px;
            margin-right: 43px; }
          .mypage-order .my-order-result ul .bundle li .prod-add .box .conts {
            width: 180px;
            height: 70px;
            border-bottom: 2px #f1f1f1 solid; }
            .mypage-order .my-order-result ul .bundle li .prod-add .box .conts input {
              font-size: 28px;
              line-height: 70px;
              height: 70px; }
            .mypage-order .my-order-result ul .bundle li .prod-add .box .conts a {
              top: 25px; }
            .mypage-order .my-order-result ul .bundle li .prod-add .box .conts .bt-minus {
              width: 22px;
              height: 22px; }
            .mypage-order .my-order-result ul .bundle li .prod-add .box .conts .bt-plus {
              width: 22px;
              height: 22px; }
      .mypage-order .my-order-result ul .bundle .pickup-info {
        padding: 40px 0; }
        .mypage-order .my-order-result ul .bundle .pickup-info dl {
          font-size: 26px;
          line-height: 36px;
          margin-left: 26px; }
        .mypage-order .my-order-result ul .bundle .pickup-info a {
          font-size: 26px;
          margin-top: 12px;
          margin-right: 26px;
          width: 143px;
          height: 58px;
          line-height: 58px; }
    .mypage-order .my-order-result .order-detail .bundle .order-num {
      margin: 8px 0 51px;
      font-size: 34px;
      line-height: 40px; }
      .mypage-order .my-order-result .order-detail .bundle .order-num i {
        margin-left: 6px; }
    .mypage-order .my-order-result .order-detail .bundle li .option {
      margin-top: 40px;
      margin-bottom: 55px; }
    .mypage-order .complete {
      padding: 0 36px 69px; }
    .mypage-order .order {
      margin-top: 26px; }
      .mypage-order .order .d-info li:last-child {
        border-bottom: 0;
        padding: 36px 0 87px; }
      .mypage-order .order .d-top h3 {
        font-size: 30px; }
    .mypage-order .payment {
      padding: 69px 36px 79px;
      margin-top: 26px; }
      .mypage-order .payment h3 {
        font-size: 30px;
        margin-bottom: 54px; }
      .mypage-order .payment dl {
        line-height: 60px; }
        .mypage-order .payment dl dt {
          font-size: 28px; }
        .mypage-order .payment dl dt + dd {
          font-size: 34px; }
        .mypage-order .payment dl dd + dd a {
          font-size: 26px;
          width: 170px;
          height: 60px;
          line-height: 60px; }
    .mypage-order .btn-back {
      padding-bottom: 45px; }
      .mypage-order .btn-back a {
        width: 678px;
        height: 80px;
        border: 1px #f1f1f1 solid;
        font-size: 26px;
        line-height: 80px; }
    .mypage-order .order-number {
      padding: 82px 0 62px; }
      .mypage-order .order-number p {
        font-size: 34px; }
      .mypage-order .order-number p + p {
        font-size: 28px;
        margin-top: 20px; }
    .mypage-order .order-number + .top {
      padding: 0 0 32px;
      width: 678px;
      margin: 0 auto 70px;
      border-bottom: 6px #000 solid; }
    .mypage-order .order.cancel-refund {
      padding: 0 36px; }
      .mypage-order .order.cancel-refund h3 {
        padding-top: 68px;
        border-top: 6px #000 solid;
        font-size: 30px;
        margin-bottom: 37px; }
      .mypage-order .order.cancel-refund .dl-table {
        font-size: 28px; }
        .mypage-order .order.cancel-refund .dl-table .thead {
          height: 94px;
          line-height: 94px; }
        .mypage-order .order.cancel-refund .dl-table dt {
          border-bottom: 2px #f1f1f1 solid;
          height: 80px;
          line-height: 80px; }
        .mypage-order .order.cancel-refund .dl-table dd {
          border-bottom: 2px #f1f1f1 solid;
          height: 80px;
          line-height: 80px; }
      .mypage-order .order.cancel-refund .total {
        margin-top: 51px;
        font-size: 34px; }
    .mypage-order .cancel-btns {
      padding: 69px 36px 129px; }
      .mypage-order .cancel-btns a {
        width: 329px;
        height: 82px;
        line-height: 82px;
        font-size: 26px; }
      .mypage-order .cancel-btns .btn1 {
        border: 2px #f1f1f1 solid;
        margin-right: 16px; }
    .mypage-order .cancel-end {
      padding-top: 109px;
      padding-bottom: 36px; }
      .mypage-order .cancel-end h3 {
        padding-top: 174px;
        background-size: 126px 128px;
        font-size: 40px;
        line-height: 52px; }
      .mypage-order .cancel-end p {
        font-size: 28px;
        margin-top: 72px;
        line-height: 38px; }
      .mypage-order .cancel-end .btn {
        padding: 537px 36px 0; }
        .mypage-order .cancel-end .btn a {
          height: 98px;
          line-height: 98px;
          font-size: 30px;
          border: 2px #f1f1f1 solid; }
    .mypage-order .cancel-end.exchange h3 {
      padding-top: 173px;
      background-size: 96px 113px; }
    .mypage-order .cancel-end.return h3 {
      background: url("/_ui/img/m/icn/icn-order-return.png") no-repeat center top;
      background-size: 96px 113px; }
    .mypage-order .cancel-end.return p {
      margin-bottom: 60px; }
    .mypage-order .cancel-end.return small {
      font-size: 24px;
      padding-top: 49px;
      background-size: 17px 16px; }
    .mypage-order .cancel-end.return .btn {
      padding: 295px 36px 0; }
    .mypage-order .cancel-exchange.order .box2 {
      padding: 36px;
      font-size: 28px; }
    .mypage-order .cancel-exchange > div {
      padding: 0 36px; }
      .mypage-order .cancel-exchange > div h3 {
        font-size: 30px;
        padding-top: 69px; }
      .mypage-order .cancel-exchange > div h4 {
        font-size: 26px;
        margin: 50px 0 29px;
        padding-left: 20px; }
      .mypage-order .cancel-exchange > div .bd {
        border-top: 6px #000 solid; }
      .mypage-order .cancel-exchange > div .t1 {
        font-size: 27px;
        margin-top: 44px;
        line-height: 39px;
        letter-spacing: -1px; }
      .mypage-order .cancel-exchange > div .t1 + .t1 {
        margin-top: 15px;
        margin-bottom: 44px; }
      .mypage-order .cancel-exchange > div h3 + ul {
        margin-top: 33px; }
      .mypage-order .cancel-exchange > div li {
        font-size: 26px;
        line-height: 36px;
        margin-top: 10px;
        letter-spacing: -1px; }
      .mypage-order .cancel-exchange > div ul {
        padding-left: 20px; }
    .mypage-order .order .d-info .add ul {
      padding-bottom: 72px; }
      .mypage-order .order .d-info .add ul li .parcel-service {
        font-size: 28px;
        background: url("/_ui/img/m/icn/icn-arrow05.png") no-repeat 100% 50%;
        background-size: 15px 9px; }
      .mypage-order .order .d-info .add ul li:last-child {
        border-bottom: 2px #f1f1f1 solid; }
      .mypage-order .order .d-info .add ul .calendar .cont a {
        width: 62px;
        height: 62px;
        margin-top: 21px; }
    .mypage-order .order.cancel-return .d-top {
      padding-top: 70px;
      border-top: 6px #000 solid; }
      .mypage-order .order.cancel-return .d-top .btn-tg a {
        font-size: 26px;
        background-size: 22px 16px;
        padding-right: 30px;
        line-height: 40px; }
      .mypage-order .order.cancel-return .d-top .btn-tg .tg {
        background: url("/_ui/img/m/icn/icn-check10.png") no-repeat right center;
        background-size: 22px 16px; }
    .mypage-order .order.cancel-gift .d-top {
      padding: 69px 36px 64px; }
      .mypage-order .order.cancel-gift .d-top p {
        font-size: 24px;
        margin-top: 17px;
        letter-spacing: -1px; }
    .mypage-order .cancel-gift + .complete + .complete .box2 h3 {
      padding: 64px 0 0;
      border-top: 6px #000 solid;
      width: 678px; }
    .mypage-order .complete.cancel {
      padding: 0 0 69px; }
    .mypage-order .cancel .box2 {
      padding-top: 64px; }
      .mypage-order .cancel .box2 h3 {
        padding: 0 36px; }
      .mypage-order .cancel .box2 .dl-table {
        margin-top: 34px;
        padding: 0 36px; }
      .mypage-order .cancel .box2 .total {
        padding: 0 36px; }
      .mypage-order .cancel .box2 .btns-tab {
        padding: 0 36px 29px;
        margin-top: 41px; }
        .mypage-order .cancel .box2 .btns-tab a {
          padding-right: 30px;
          background-size: 22px 16px;
          margin-left: 30px;
          font-size: 26px; }
        .mypage-order .cancel .box2 .btns-tab .on {
          background-size: 22px 16px; }
      .mypage-order .cancel .box2 .tab-info {
        padding: 49px 36px;
        font-size: 24px; }
        .mypage-order .cancel .box2 .tab-info .tit {
          margin-bottom: 15px; }
        .mypage-order .cancel .box2 .tab-info .txt {
          line-height: 30px; }
        .mypage-order .cancel .box2 .tab-info .txt + .txt {
          margin-top: 23px; }
    .mypage-order .return-notice {
      padding: 0 50px; }
      .mypage-order .return-notice h3 {
        border-top: 6px #000 solid;
        font-size: 26px;
        padding-top: 68px; }
      .mypage-order .return-notice ul {
        padding-left: 20px;
        margin: 31px 0 42px; }
        .mypage-order .return-notice ul li {
          font-size: 26px;
          line-height: 33px;
          margin-top: 13px; }
      .mypage-order .return-notice a {
        font-size: 26px; } }

/*# sourceMappingURL=GuestOrder.css.map */
