.wrap-form-login .form-login {
  padding: 10.133vw 10.133vw 40.66vw; }
  .wrap-form-login .form-login .btn-ctc {
    overflow: hidden; }
    .wrap-form-login .form-login .btn-ctc .contact-phone {
      position: relative;
      float: right;
      font-size: 3.733vw;
      color: #aaa;
      margin-right: 5vw; }
      .wrap-form-login .form-login .btn-ctc .contact-phone::after {
        content: '';
        position: absolute;
        bottom: 1vw;
        height: 3.33vw;
        width: 2.933vw;
        margin-left: 2vw;
        background: url("/_ui/img/m/icn/icn-check10-1.png") no-repeat center center;
        background-size: contain; }
    .wrap-form-login .form-login .btn-ctc .contact-phone.on {
      color: #000; }
      .wrap-form-login .form-login .btn-ctc .contact-phone.on::after {
        background: url("/_ui/img/m/icn/icn-check10.png") no-repeat center center;
        background-size: contain; }
  .wrap-form-login .form-login .in-txt {
    position: relative;
    padding-top: 1px; }
    .wrap-form-login .form-login .in-txt input {
      width: 100%;
      padding: 7.33vw 0 3.466vw;
      font-size: 3.733vw;
      color: #1f1f1f;
      border-bottom: .266vw solid #eee; }
    .wrap-form-login .form-login .in-txt input.active {
      border-bottom: .266vw solid #1f1f1f; }
    .wrap-form-login .form-login .in-txt ::-webkit-input-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt :-moz-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt ::-moz-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt :-ms-input-placeholder {
      color: #898989; }
    .wrap-form-login .form-login .in-txt span {
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      height: 10.666vw;
      line-height: 10.666vw;
      color: #ccc;
      font-size: 3.733vw; }
  .wrap-form-login .form-login .check-area {
    display: inline-block;
    width: 38%;
    margin: 6.933vw 0 6vw;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0; }
    .wrap-form-login .form-login .check-area input {
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      visibility: hidden;
      position: absolute; }
    .wrap-form-login .form-login .check-area input + label {
      display: inline-block;
      width: 4.533vw;
      height: 4.533vw;
      background: url("/_ui/img/m/icn/icn-check07.png") no-repeat;
      background-size: 100%;
      vertical-align: middle; }
    .wrap-form-login .form-login .check-area input:checked + label {
      background: url("/_ui/img/m/icn/icn-check07-on.png") no-repeat;
      background-size: 100%; }
    .wrap-form-login .form-login .check-area input + label + label {
      display: inline-block;
      font-size: 3.733vw;
      color: #898989;
      vertical-align: middle;
      margin-left: 2.4vw; }
    .wrap-form-login .form-login .check-area input:checked + label + label {
      color: #1f1f1f; }
  .wrap-form-login .form-login .btns .btn {
    font-size: 3.733vw; }
  .wrap-form-login .form-login .btns .btn-login {
    width: 100%;
    margin-bottom: 2vw;
    color: #fff;
    background: #ccc; }
  .wrap-form-login .form-login .btns .btn-login.on {
    background: #1f1f1f; }
  .wrap-form-login .form-login .btns .btn-nonmbr {
    width: 100%;
    color: #898989;
    border: .266vw solid #f1f1f1; }
  .wrap-form-login .form-login .btns .box-sub {
    overflow: hidden;
    padding-top: 5.33vw; }
    .wrap-form-login .form-login .btns .box-sub .sub {
      float: left;
      width: 33.33%;
      font-size: 3.466vw;
      color: #898989;
      text-align: center; }

.footer-lgform {
  padding: 0 10.133vw 10.133vw;
  background: #fff;
  text-align: center; }
  .footer-lgform p {
    margin-bottom: 7.466vw;
    font-size: 3.733vw;
    color: #aaa; }
  .footer-lgform .box-sns {
    overflow: hidden; }
    .footer-lgform .box-sns a {
      float: left;
      width: 24.8vw;
      height: 9.066vw;
      max-width: 186px;
      max-height: 68px;
      text-indent: -9999px; }
    .footer-lgform .box-sns .facebook {
      margin-right: 2.66vw;
      background: #004f9d url("/_ui/img/m/icn/icn-facebook02.png");
      background-size: contain; }
    .footer-lgform .box-sns .google {
      margin-right: 2.66vw;
      background: #dd4b39 url("/_ui/img/m/icn/icn-google.png");
      background-size: contain; }
    .footer-lgform .box-sns .kakao {
      background: #ffe600 url("/_ui/img/m/icn/icn-kakao02.png");
      background-size: contain; }

@media (min-width: 750px) {
  .wrap-form-login .form-login {
    padding: 76px 76px 305px; }
    .wrap-form-login .form-login .btn-ctc .contact-phone {
      font-size: 28px;
      margin-right: 37px; }
      .wrap-form-login .form-login .btn-ctc .contact-phone::after {
        width: 22px;
        height: 25px;
        margin-left: 15px;
        bottom: 7px; }
    .wrap-form-login .form-login .in-txt input {
      padding: 55px 0 26px;
      font-size: 28px;
      border-bottom: 2px solid #eee; }
    .wrap-form-login .form-login .in-txt input.active {
      border-bottom: 2px solid #1f1f1f; }
    .wrap-form-login .form-login .in-txt span {
      height: 80px;
      line-height: 80px;
      font-size: 28px; }
    .wrap-form-login .form-login .check-area {
      margin: 52px 0 45px; }
      .wrap-form-login .form-login .check-area input + label {
        width: 34px;
        height: 34px; }
      .wrap-form-login .form-login .check-area input + label + label {
        font-size: 28px;
        margin-left: 18px; }
    .wrap-form-login .form-login .btns .btn {
      font-size: 28px; }
    .wrap-form-login .form-login .btns .btn-login {
      margin-bottom: 15px; }
    .wrap-form-login .form-login .btns .btn-nonmbr {
      border: 2px solid #f1f1f1; }
    .wrap-form-login .form-login .btns .box-sub {
      padding-top: 40px; }
      .wrap-form-login .form-login .btns .box-sub .sub {
        font-size: 26px; }
  .footer-lgform {
    padding: 0 76px 76px; }
    .footer-lgform p {
      margin-bottom: 56px;
      font-size: 28px; }
    .footer-lgform .box-sns .facebook {
      margin-right: 20px; }
    .footer-lgform .box-sns .google {
      margin-right: 20px; } }

/*# sourceMappingURL=Login.css.map */
