.scr-navi .swiper-wrapper .swiper-slide a {
  font-size: 4vw; }

.my-info {
  position: relative;
  width: 100%;
  height: 14vw;
  padding: 6.8vw 4.8vw;
  color: #fff;
  z-index: 2; }
  .my-info .name {
    font-size: 5.066vw;
    margin-bottom: 2.666vw; }
    .my-info .name i {
      font-weight: 700; }
  .my-info .name + div {
    overflow: hidden; }
    .my-info .name + div .left {
      float: left;
      font-size: 3.466vw; }
      .my-info .name + div .left p {
        display: inline; }
        .my-info .name + div .left p i {
          font-weight: 700; }
      .my-info .name + div .left .txt {
        display: inline-block;
        font-size: 3.466vw; }
        .my-info .name + div .left .txt i {
          font-weight: 700; }
      .my-info .name + div .left .hs-line {
        margin-right: 1.5vw;
        padding-right: 2vw;
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        line-height: .9; }
      .my-info .name + div .left .hs-dot {
        margin-right: -1.2vw; }
    .my-info .name + div a {
      color: #fff;
      font-size: 3.466vw; }
  .my-info .barcode-open {
    position: absolute;
    right: 12.5vw;
    bottom: 22.5%;
    width: 4.5vw;
    height: 4.5vw; }
  .my-info .barcode-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #f7f7f7;
    text-align: center; }
    .my-info .barcode-layer h4 {
      margin: 2vw 0;
      color: #cccccc;
      font-size: 3.3vw;
      font-weight: bold; }
    .my-info .barcode-layer .barcode {
      width: 65vw;
      max-height: 16vw;
      margin: 0 auto; }
      .my-info .barcode-layer .barcode img {
        width: 100%; }
    .my-info .barcode-layer .barcode-close {
      position: absolute;
      width: 6vw;
      height: 6vw;
      top: 50%;
      right: 6vw;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .my-info .barcode-layer .barcode-close img {
        width: 100%; }
    .my-info .barcode-layer .barcode-label {
      color: #000;
      font-size: 3vw;
      margin-top: .5vw; }

.my-point {
  line-height: 12vw;
  overflow: hidden;
  padding: 0 6.4vw 4.8vw; }
  .my-point dt {
    font-size: 3.466vw;
    color: #1f1f1f;
    font-weight: 700;
    height: 12vw;
    float: left;
    width: 50%; }
  .my-point dd {
    font-size: 4vw;
    color: #000;
    font-weight: 700;
    height: 12vw;
    float: right;
    width: 50%;
    text-align: right; }
  .my-point .small {
    font-size: 3.2vw;
    color: #aaa;
    line-height: 4vw;
    height: 4vw;
    margin: -2.666vw 0 2.666vw;
    font-weight: 300; }

.my-family {
  background: #f8f8f8;
  padding: 8.266vw 6.4vw 9.2vw; }
  .my-family dl {
    overflow: hidden; }
    .my-family dl dt {
      color: #898989;
      font-size: 3.466vw;
      width: 60%;
      float: left;
      height: 7.733vw;
      line-height: 7.733vw; }
    .my-family dl dd {
      font-size: 4vw;
      color: #000;
      width: 40%;
      float: left;
      text-align: right;
      height: 7.733vw;
      line-height: 7.733vw; }
    .my-family dl .bold {
      font-size: 3.733vw;
      color: #1f1f1f;
      line-height: 4.8vw;
      height: 4.8vw;
      margin-bottom: 6vw; }
    .my-family dl .btn-wow a {
      font-size: 0;
      text-indent: -9999px;
      display: block;
      width: 26.933vw;
      height: 4.8vw;
      margin-bottom: 6vw;
      background: url("/_ui/img/m/icn/btn-wowmykolon.png") no-repeat;
      background-size: 100%;
      float: right; }
  .my-family .btn-guide {
    display: block;
    background: #fff;
    height: 10.933vw;
    line-height: 10.933vw;
    color: #1f1f1f;
    font-size: 3.466vw;
    text-align: center;
    margin-top: 4.8vw; }

.my-order .tit {
  padding: 0 4.8vw;
  margin: 9.6vw 0 6.666vw;
  overflow: hidden; }
  .my-order .tit h3 {
    font-size: 4vw;
    color: #1f1f1f;
    float: left;
    font-weight: 700; }
  .my-order .tit a {
    width: 30vw;
    font-size: 3.466vw;
    color: #1f1f1f;
    float: right;
    text-align: right; }
    .my-order .tit a::after {
      content: '';
      display: inline-block;
      width: 1.466vw;
      height: 2.4vw;
      margin-left: 2vw;
      background: url("/_ui/img/m/icn/btn-right-arrow.png") no-repeat;
      background-size: 100%; }

.my-order .cs-depth3 ul {
  margin: 0 0 3.066vw; }

.my-order .box1 {
  background: #f3f4f7;
  padding-top: 8.266vw; }
  .my-order .box1 ul {
    overflow: hidden;
    width: 84.8vw;
    margin: 0 auto;
    padding-bottom: 9.066vw; }
    .my-order .box1 ul li {
      float: left;
      text-align: center;
      border-bottom: .266vw #e7e9ee solid; }
      .my-order .box1 ul li a {
        color: #1f1f1f;
        font-size: 5.066vw;
        display: block;
        margin-bottom: -.266vw;
        padding-bottom: 4.266vw;
        border-bottom: .266px #e7e9ee solid; }
        .my-order .box1 ul li a span {
          display: block; }
        .my-order .box1 ul li a span + span {
          font-size: 3.2vw;
          margin-top: 3.2vw; }
    .my-order .box1 ul .disabled a {
      color: #cccccc; }
    .my-order .box1 ul .tab-on a {
      border-bottom: .266vw #1f1f1f solid; }
  .my-order .box1 .col3 li {
    width: 33.333%; }
    .my-order .box1 .col3 li:nth-child(2) a {
      margin: 0 auto -.266vw; }
    .my-order .box1 .col3 li:nth-child(3) a {
      float: right; }
    .my-order .box1 .col3 li a {
      width: 50%; }
  .my-order .box1 .col5 li {
    width: 20%; }

.my-order .box2 {
  background: #f3f4f7; }

.my-order .box2 > ul {
  padding-bottom: 3.466vw; }

.my-order .box3 {
  background: #fff;
  padding-top: 8.4vw;
  padding-bottom: 2.133vw; }
  .my-order .box3 h3 {
    color: #1f1f1f;
    font-size: 3.733vw;
    margin-bottom: 8.4vw;
    text-align: center; }
  .my-order .box3 ul {
    overflow: hidden;
    width: 90.933vw;
    margin: 0 auto; }
    .my-order .box3 ul li {
      float: left;
      margin-left: 2.666vw;
      width: 28.533vw;
      margin-bottom: 2.666vw; }
    .my-order .box3 ul .ml0 {
      margin-left: 0; }

.wow-my-kolon {
  min-height: 300px; }
  .wow-my-kolon ul {
    width: 85.066vw;
    margin: 12.266vw auto 0; }
    .wow-my-kolon ul li {
      border-top: .266vw #e1e1e1 solid;
      padding-top: 9.333vw; }
      .wow-my-kolon ul li:first-child {
        border-top: 0;
        padding-top: 0; }
      .wow-my-kolon ul li .coupon {
        height: 37.866vw;
        overflow: hidden; }
        .wow-my-kolon ul li .coupon .left {
          float: left;
          width: 66.4vw;
          height: 37.866vw;
          background: #fff;
          position: relative; }
          .wow-my-kolon ul li .coupon .left .tit {
            font-size: 4.266vw;
            color: #1f1f1f;
            font-weight: 700;
            margin: 5.466vw 0 1.866vw 5.333vw; }
          .wow-my-kolon ul li .coupon .left small {
            font-size: 3.2vw;
            color: #898989;
            margin-left: 5.333vw; }
          .wow-my-kolon ul li .coupon .left .btm {
            overflow: hidden;
            position: absolute;
            bottom: 5.066vw;
            left: 5.333vw;
            width: 416px; }
            .wow-my-kolon ul li .coupon .left .btm .discount {
              color: #1f1f1f;
              font-size: 6vw; }
            .wow-my-kolon ul li .coupon .left .btm span + span {
              position: absolute;
              bottom: 0;
              right: 0;
              font-size: 2.933vw;
              color: #aaa; }
        .wow-my-kolon ul li .coupon .right {
          float: left;
          background: #f23d4e;
          width: 18.666vw;
          height: 37.866vw;
          position: relative; }
          .wow-my-kolon ul li .coupon .right span {
            color: #fff;
            font-size: 4vw;
            line-height: 5.333vw;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            display: block;
            text-align: center;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
          .wow-my-kolon ul li .coupon .right a {
            background: url("/_ui/img/m/icn/icn-arrow10.png") no-repeat center;
            background-size: 3.333vw 4.533vw;
            display: block;
            height: 100%;
            font-size: 2.933vw;
            color: #fff;
            line-height: 62.666vw;
            text-align: center; }
      .wow-my-kolon ul li dl {
        overflow: hidden;
        color: #898989;
        font-size: 3.2vw;
        line-height: 4.533vw;
        margin-top: 3.866vw;
        padding-bottom: 8.4vw; }
        .wow-my-kolon ul li dl dt {
          float: left;
          clear: both; }
        .wow-my-kolon ul li dl dd {
          float: left;
          margin-left: .666vw; }
        .wow-my-kolon ul li dl i {
          color: #1f1f1f; }

.h1-top {
  position: relative; }
  .h1-top .pop-close {
    background: url("/_ui/img/m/icn/icn-close.png") no-repeat;
    background-size: 100%;
    top: 5.333vw;
    right: 4.8vw;
    width: 4vw;
    height: 4vw;
    font-size: 0;
    text-indent: -9999px;
    display: block;
    position: absolute; }
  .h1-top h1 {
    font-size: 4.533vw;
    color: #1f1f1f;
    text-align: center;
    font-weight: 700;
    padding: 5.333vw 0 2.266vw; }
  .h1-top small {
    text-align: center;
    font-weight: 700;
    font-size: 3.466vw;
    color: #898989;
    display: block; }

.family-guide {
  padding-bottom: 17.066vw; }
  .family-guide img {
    width: 100%; }
  .family-guide h3 {
    font-size: 3.733vw;
    color: #1f1f1f;
    font-weight: 700;
    margin-bottom: 3.466vw; }
  .family-guide .box1 {
    border-bottom: .2266vw #f7f7f7 solid;
    padding: 0 4.8vw; }
    .family-guide .box1 .mbship {
      width: 80.533vw;
      margin-left: 8.666vw; }
  .family-guide .box2 {
    padding: 8.4vw 4.8vw 0; }
    .family-guide .box2 dl {
      overflow: hidden;
      border-top: .8vw #000 solid;
      border-bottom: .8vw #000 solid;
      line-height: 13.866vw;
      font-size: 3.466vw; }
      .family-guide .box2 dl dt {
        width: 30%;
        float: left;
        clear: both;
        height: 13.866vw;
        color: #898989;
        border-top: .266vw #f1f1f1 solid; }
        .family-guide .box2 dl dt:first-child {
          border-top: 0; }
      .family-guide .box2 dl dt:first-child + dd {
        border-top: 0; }
      .family-guide .box2 dl dd {
        width: 70%;
        float: left;
        height: 13.866vw;
        color: #1f1f1f;
        border-top: .266vw #f1f1f1 solid; }
        .family-guide .box2 dl dd a {
          color: #1f1f1f;
          text-decoration: underline; }
  .family-guide .box3 h3 {
    padding: 0 4vw; }
  .family-guide .box3 p {
    padding: 0 4vw;
    font-size: 3.733vw;
    line-height: 5.866vw; }
  .family-guide .box3 h3 + p {
    color: #898989; }
  .family-guide .box3 p + p {
    color: #1f1f1f;
    margin-top: 2vw; }
  .family-guide .box3 .margin {
    margin: 5.066vw 0; }
  .family-guide .box3 .notice {
    padding: 0 6.666vw; }
  .family-guide .notice {
    padding-left: 2.666vw;
    padding-bottom: 8.933vw; }
    .family-guide .notice li {
      list-style: disc;
      font-size: 3.733vw;
      color: #898989;
      line-height: 5.333vw; }

@media (min-width: 750px) {
  .scr-navi {
    width: 678px; }
    .scr-navi .swiper-wrapper .swiper-slide a {
      height: 100px;
      line-height: 100px;
      font-size: 30px; }
    .scr-navi .swiper-wrapper + .icn-navi {
      width: 35px;
      height: 115px;
      right: -36px; }
    .scr-navi .swiper-wrapper + .icn-navi.left {
      left: -36px; }
  .my-info {
    height: 105px;
    padding: 51px 36px; }
    .my-info .name {
      font-size: 38px;
      margin-bottom: 20px; }
    .my-info .name + div .left {
      font-size: 26px; }
      .my-info .name + div .left .txt {
        font-size: 26px; }
      .my-info .name + div .left .hs-line {
        margin-right: 11.25px;
        padding-right: 15px; }
      .my-info .name + div .left .hs-dot {
        margin-right: -9px; }
    .my-info .barcode-open {
      right: 94px;
      width: 34px;
      height: 34px; }
    .my-info .barcode-layer {
      width: 750px; }
      .my-info .barcode-layer h4 {
        margin: 15px 0;
        font-size: 25px; }
      .my-info .barcode-layer .barcode {
        width: 487px;
        max-height: 120px; }
      .my-info .barcode-layer .barcode-close {
        width: 45px;
        height: 45px;
        right: 45px; }
      .my-info .barcode-layer .barcode-label {
        color: #000;
        font-size: 22px;
        margin-top: 4px; }
  .my-point {
    line-height: 90px;
    padding: 0 48px 36px; }
    .my-point dt {
      font-size: 26px;
      height: 90px; }
    .my-point dd {
      font-size: 30px;
      height: 90px; }
    .my-point .small {
      font-size: 24px;
      line-height: 30px;
      height: 30px;
      margin: -20px 0 20px; }
  .my-family {
    padding: 62px 48px 69px; }
    .my-family dl dt {
      font-size: 26px;
      height: 58px;
      line-height: 58px; }
    .my-family dl dd {
      font-size: 30px;
      height: 58px;
      line-height: 58px; }
    .my-family dl .bold {
      font-size: 28px;
      line-height: 36px;
      height: 36px;
      margin-bottom: 45px; }
    .my-family dl .btn-wow a {
      width: 202px;
      height: 36px;
      margin-bottom: 45px; }
    .my-family .btn-guide {
      height: 82px;
      line-height: 82px;
      font-size: 26px;
      margin-top: 36px; }
  .my-order .tit {
    padding: 0 36px;
    margin: 72px 0 50px; }
    .my-order .tit h3 {
      font-size: 30px; }
    .my-order .tit a {
      width: 225px;
      font-size: 26px; }
      .my-order .tit a::after {
        width: 11px;
        height: 18px;
        margin-left: 15px; }
  .my-order .cs-depth3 ul {
    margin: 0 0 23px; }
  .my-order .box1 {
    padding-top: 62px; }
    .my-order .box1 ul {
      width: 636px;
      padding-bottom: 68px; }
      .my-order .box1 ul li {
        border-bottom: 2px #e7e9ee solid; }
        .my-order .box1 ul li a {
          font-size: 38px;
          margin-bottom: -2px;
          padding-bottom: 32px;
          border-bottom: 2px #e7e9ee solid; }
          .my-order .box1 ul li a span + span {
            font-size: 24px;
            margin-top: 24px; }
      .my-order .box1 ul .tab-on a {
        border-bottom: 2px #1f1f1f solid; }
    .my-order .box1 .col3 li:nth-child(2) a {
      margin: 0 auto -2px; }
  .my-order .box2 > ul {
    padding-bottom: 26px; }
  .my-order .box3 {
    padding-top: 63px;
    padding-bottom: 16px; }
    .my-order .box3 h3 {
      font-size: 28px;
      margin-bottom: 63px; }
    .my-order .box3 ul {
      width: 682px; }
      .my-order .box3 ul li {
        margin-left: 20px;
        width: 214px;
        margin-bottom: 20px; }
  .wow-my-kolon ul {
    width: 638px;
    margin: 92px auto 0; }
    .wow-my-kolon ul li {
      border-top: 2px #e1e1e1 solid;
      padding-top: 70px; }
      .wow-my-kolon ul li .coupon {
        height: 284px; }
        .wow-my-kolon ul li .coupon .left {
          width: 498px;
          height: 284px; }
          .wow-my-kolon ul li .coupon .left .tit {
            font-size: 32px;
            color: #1f1f1f;
            margin: 41px 0 14px 40px; }
          .wow-my-kolon ul li .coupon .left small {
            font-size: 24px;
            margin-left: 40px; }
          .wow-my-kolon ul li .coupon .left .btm {
            bottom: 38px;
            left: 40px;
            width: 416px; }
            .wow-my-kolon ul li .coupon .left .btm .discount {
              font-size: 45px; }
            .wow-my-kolon ul li .coupon .left .btm span + span {
              font-size: 22px;
              color: #aaa; }
        .wow-my-kolon ul li .coupon .right {
          width: 140px;
          height: 284px; }
          .wow-my-kolon ul li .coupon .right span {
            font-size: 30px;
            line-height: 40px; }
          .wow-my-kolon ul li .coupon .right a {
            background-size: 25px 34px;
            font-size: 22px;
            line-height: 470px; }
      .wow-my-kolon ul li dl {
        font-size: 24px;
        line-height: 34px;
        margin-top: 29px;
        padding-bottom: 63px; }
        .wow-my-kolon ul li dl dd {
          margin-left: 5px; }
  .h1-top .pop-close {
    top: 40px;
    right: 36px;
    width: 30px;
    height: 30px; }
  .h1-top h1 {
    font-size: 34px;
    padding: 40px 0 17px; }
  .h1-top small {
    font-size: 26px; }
  .family-guide {
    padding-bottom: 128px; }
    .family-guide h3 {
      font-size: 28px;
      margin-bottom: 26px; }
    .family-guide .box1 {
      border-bottom: 2px #f7f7f7 solid;
      padding: 0 36px; }
      .family-guide .box1 .mbship {
        width: 604px;
        margin-left: 65px; }
    .family-guide .box2 {
      padding: 63px 36px 0; }
      .family-guide .box2 dl {
        border-top: 6px #000 solid;
        border-bottom: 6px #000 solid;
        line-height: 104px;
        font-size: 26px; }
        .family-guide .box2 dl dt {
          height: 104px;
          border-top: 2px #f1f1f1 solid; }
        .family-guide .box2 dl dd {
          height: 104px;
          border-top: 2px #f1f1f1 solid; }
    .family-guide .box3 h3 {
      padding: 0 30px; }
    .family-guide .box3 p {
      padding: 0 30px;
      font-size: 28px;
      line-height: 44px; }
    .family-guide .box3 p + p {
      margin-top: 15px; }
    .family-guide .box3 .margin {
      margin: 38px 0; }
    .family-guide .box3 .notice {
      padding: 0 50px; }
    .family-guide .notice {
      padding-left: 20px;
      padding-bottom: 67px; }
      .family-guide .notice li {
        font-size: 28px;
        line-height: 40px; } }

/*# sourceMappingURL=MyPage.css.map */
