.line {
  width: 90.4%;
  height: .8vw;
  margin: 0 auto;
  background: #000; }

.scr-navi .swiper-wrapper .swiper-slide a {
  font-size: 4vw; }

.order {
  margin-top: 6.666vw; }
  .order .d-info {
    padding: 0 4.8vw; }
    .order .d-info li {
      overflow: hidden;
      font-size: 3.733vw;
      padding: 4.8vw 0;
      border-bottom: .266vw #f1f1f1 solid;
      line-height: 5.333vw; }
      .order .d-info li .tit {
        float: left;
        width: 23.6vw;
        color: #898989; }
      .order .d-info li .cont {
        float: left;
        width: 66.8vw;
        color: #1f1f1f; }
        .order .d-info li .cont input {
          font-size: 3.733vw;
          width: 100%; }
        .order .d-info li .cont .btn {
          float: right;
          font-size: 3.466vw;
          color: #1f1f1f;
          border: .266vw #f1f1f1 solid;
          padding: 2vw; }
  .order .d-top {
    padding: 6.666vw 0;
    overflow: hidden; }
  .order .gift {
    margin-bottom: 9.6vw; }
    .order .gift .d-top {
      width: 90.4vw;
      margin: 9.6vw auto; }
    .order .gift .top {
      padding: 5.333vw 0;
      margin: 0 auto;
      overflow: hidden;
      width: 90.4vw;
      border-top: .266vw #f1f1f1 solid;
      border-bottom: .266vw #f1f1f1 solid; }
      .order .gift .top h4 {
        font-size: 3.733vw;
        color: #1f1f1f;
        float: left; }
      .order .gift .top .more {
        font-size: 0;
        text-indent: -999px;
        display: block;
        width: 3.066vw;
        height: 1.733vw;
        background: url("/_ui/img/m/icn/icn-arrow04.png") no-repeat;
        background-size: 100%;
        float: right;
        margin-top: 1.333vw; }
      .order .gift .top .more.on {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg); }
    .order .gift .gift-choice {
      display: none;
      background: #f7f7f7;
      padding: 8.8vw 0; }
      .order .gift .gift-choice li .tit {
        font-size: 3.466vw;
        color: #1f1f1f; }
      .order .gift .gift-choice .list {
        margin-top: 4vw; }
        .order .gift .gift-choice .list li {
          background: #fbfbfb;
          overflow: hidden;
          margin-top: 2.933vw;
          cursor: pointer; }
          .order .gift .gift-choice .list li:first-child {
            margin-top: 0; }
        .order .gift .gift-choice .list li.select {
          background: #fff url("/_ui/img/m/icn/icn-check03.png") no-repeat 82.933vw 9.866vw;
          background-size: 2.933vw 2.133vw; }
        .order .gift .gift-choice .list .prod {
          width: 21.866vw;
          float: left;
          margin-right: 4vw; }
        .order .gift .gift-choice .list .info {
          margin-top: 6.933vw; }
          .order .gift .gift-choice .list .info .t1 {
            color: #1f1f1f;
            font-size: 2.666vw;
            font-weight: 700; }
          .order .gift .gift-choice .list .info .t2 {
            color: #898989;
            font-size: 2.666vw;
            margin-top: 2vw; }
    .order .gift .gift-choice > li {
      padding: 0 4.8vw;
      margin-top: 9.333vw; }
      .order .gift .gift-choice > li:first-child {
        margin-top: 0; }
    .order .gift .d-gift {
      display: none; }

.complete {
  padding: 0 4.8vw 16vw; }
  .complete .pop-close {
    display: block;
    width: 3.733vw;
    height: 3.733vw;
    background: url("/_ui/img/m/icn/icn-close.png") no-repeat;
    font-size: 0;
    text-indent: -999px;
    position: absolute;
    top: 5.333vw;
    right: 4.8vw;
    background-size: 100%; }
  .complete h1 {
    line-height: 14.4vw;
    text-align: center;
    font-size: 4.533vw;
    color: #000;
    font-weight: 700; }
  .complete .box1 {
    text-align: center;
    padding-bottom: 12.266vw; }
    .complete .box1 h3 {
      padding-top: 23.066vw;
      background: url("/_ui/img/m/icn/icn-order.png") no-repeat center top;
      background-size: 12.8vw 15.066vw;
      font-size: 5.333vw;
      color: #000;
      margin-bottom: 10.666vw;
      line-height: 8vw; }
    .complete .box1 h3 + div {
      font-size: 4.266vw; }
      .complete .box1 h3 + div p {
        display: inline-block;
        margin-right: 7.6vw; }
        .complete .box1 h3 + div p i {
          color: #f23d4e; }
      .complete .box1 h3 + div a {
        display: inline-block;
        text-decoration: underline;
        color: #898989; }
    .complete .box1 div + p {
      margin-top: 11.066vw;
      color: #898989;
      font-size: 3.733vw;
      line-height: 4.933vw; }
      .complete .box1 div + p a {
        color: #898989; }
  .complete .box2 {
    border-top: .8vw #000 solid;
    padding-top: 6.4vw; }
    .complete .box2 h3 {
      font-size: 4vw;
      color: #1f1f1f; }
    .complete .box2 .dl-table {
      margin-top: 8.8vw;
      font-size: 3.733vw;
      overflow: hidden;
      border-bottom: .266vw #f1f1f1 solid; }
      .complete .box2 .dl-table dl {
        overflow: hidden; }
      .complete .box2 .dl-table dt {
        color: #898989;
        height: 10.666vw;
        line-height: 10.666vw;
        width: 33.333%;
        float: left;
        border-top: .266vw #f1f1f1 solid;
        clear: both; }
      .complete .box2 .dl-table .dt {
        text-align: left;
        color: #898989; }
      .complete .box2 .dl-table dd {
        color: #1f1f1f;
        height: 10.266vw;
        line-height: 10.266vw;
        width: 33.333%;
        float: left;
        text-align: right;
        border-top: .266vw #f1f1f1 solid; }
        .complete .box2 .dl-table dd i {
          color: #898989; }
      .complete .box2 .dl-table dt:first-child {
        border-top: 0; }
      .complete .box2 .dl-table dt:first-child + dd {
        border-top: 0; }
      .complete .box2 .dl-table .bd0 {
        border-top: 0; }
      .complete .box2 .dl-table .l2 {
        line-height: 5.333vw;
        padding: 1.866vw 0; }
      .complete .box2 .dl-table .l3 {
        line-height: 5.333vw;
        padding: 2.666vw 0;
        height: auto; }
      .complete .box2 .dl-table .space {
        border: 0; }
      .complete .box2 .dl-table .tl {
        text-align: left; }
      .complete .box2 .dl-table .ha {
        height: auto; }
      .complete .box2 .dl-table dl > dt:first-child {
        border-top: 0; }
      .complete .box2 .dl-table dl > dt:first-child + dd {
        border-top: 0; }
      .complete .box2 .dl-table .colspan {
        width: 66.666%; }
      .complete .box2 .dl-table .rowspan {
        height: auto; }
      .complete .box2 .dl-table .rowspan + dd {
        height: auto;
        width: 66.666%; }
        .complete .box2 .dl-table .rowspan + dd dt {
          width: 50%;
          text-align: left; }
        .complete .box2 .dl-table .rowspan + dd dd {
          width: 50%; }
      .complete .box2 .dl-table .deposit-info {
        color: #898989; }
    .complete .box2 .dl-table.bd0 {
      border-bottom: 0; }
    .complete .box2 .virtual-info {
      float: right;
      margin-top: 1.6vw;
      color: #898989;
      white-space: nowrap; }
    .complete .box2 .total {
      margin-top: 6.666vw;
      font-size: 4.533vw;
      overflow: hidden; }
      .complete .box2 .total dt {
        float: left;
        color: #1f1f1f; }
      .complete .box2 .total dd {
        float: right;
        color: #f23d4e;
        font-weight: 700; }
        .complete .box2 .total dd i {
          color: #1f1f1f; }
    .complete .box2 .btns {
      font-size: 0;
      letter-spacing: 0;
      word-spacing: 0;
      margin-top: 13.733vw; }
      .complete .box2 .btns a {
        display: inline-block;
        width: 44vw;
        height: 10.933vw;
        border: .266vw #f1f1f1 solid;
        line-height: 10.933vw;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        text-align: center;
        font-size: 3.466vw;
        color: #1f1f1f; }
      .complete .box2 .btns a + a {
        margin-left: 2.4vw; }

.complete.return .box2 {
  border-top: 0; }

.mypage-order.pt0 {
  padding-top: 0; }

.mypage-order {
  background: #f3f4f7;
  padding-top: 5.2vw;
  padding-bottom: 5.2vw; }
  .mypage-order .my-order-check {
    width: 80.266vw;
    margin: 0 auto;
    background: #fff;
    padding: 5.066vw 5.066vw 6.666vw; }
    .mypage-order .my-order-check .tit-top {
      overflow: hidden;
      margin-bottom: 3.2vw; }
      .mypage-order .my-order-check .tit-top h3 {
        font-weight: 700;
        font-size: 4vw;
        color: #1f1f1f;
        float: left; }
      .mypage-order .my-order-check .tit-top .btn-guide {
        float: right;
        font-size: 3.466vw;
        color: #1f1f1f;
        background: url("/_ui/img/m/icn/icn-size-check.png") no-repeat right center;
        background-size: 3.2vw 3.2vw;
        padding-right: 4.666vw; }
    .mypage-order .my-order-check p {
      font-size: 3.466vw;
      color: #aaa;
      line-height: 4.533vw;
      margin-bottom: 4.666vw;
      letter-spacing: -.5px; }
    .mypage-order .my-order-check .cs-depth3 {
      padding: 0; }
      .mypage-order .my-order-check .cs-depth3 ul {
        margin: 5.866vw 0 6.8vw; }
    .mypage-order .my-order-check .btn-inquiry {
      text-align: center; }
      .mypage-order .my-order-check .btn-inquiry a {
        display: block;
        padding: 2.4vw 0 3.066vw;
        color: #1f1f1f;
        font-size: 4.266vw;
        border: .266vw solid #f1f1f1; }
    .mypage-order .my-order-check select {
      background: #fff url("/_ui/img/m/icn/icn-arrow02.png") no-repeat 99% 50%;
      background-size: 3vw;
      font-size: 3.733vw;
      line-height: 10.8vw;
      border-bottom: .266vw #eee solid; }
    .mypage-order .my-order-check .sct-box {
      overflow: hidden; }
      .mypage-order .my-order-check .sct-box select {
        float: left;
        width: 36.8vw; }
      .mypage-order .my-order-check .sct-box select + select {
        margin-left: 5.6vw; }
    .mypage-order .my-order-check .add-prod {
      margin-top: 3.866vw;
      overflow: hidden; }
      .mypage-order .my-order-check .add-prod select {
        width: 19.066vw;
        float: left; }
      .mypage-order .my-order-check .add-prod input {
        width: 56.133vw;
        margin-left: 4.266vw;
        border-bottom: .266vw #eee solid;
        line-height: 10.8vw;
        font-size: 3.733vw; }
  .mypage-order .order-number {
    padding: 10.933vw 0 8.266vw;
    text-align: center; }
    .mypage-order .order-number p {
      font-size: 4.533vw;
      color: #1f1f1f; }
      .mypage-order .order-number p i {
        color: #898989; }
  .mypage-order .order {
    padding-bottom: 0;
    margin-top: 3.466vw; }
    .mypage-order .order .d-info {
      background: #fff; }
      .mypage-order .order .d-info li .cont {
        color: #898989; }
      .mypage-order .order .d-info li .name {
        color: #1f1f1f; }
      .mypage-order .order .d-info li:last-child {
        border-bottom: 0;
        padding: 4.8vw 0 11.6vw; }
    .mypage-order .order .d-top {
      border-top: 0; }
      .mypage-order .order .d-top h3 {
        font-size: 4vw;
        color: #1f1f1f;
        float: left;
        font-weight: 700; }
  .mypage-order .complete {
    background: #fff;
    padding: 0 4.8vw 9.2vw; }
    .mypage-order .complete .box2 h3 {
      font-weight: 700; }
    .mypage-order .complete.return-delivery .dl-table {
      border-bottom: 0; }
      .mypage-order .complete.return-delivery .dl-table dd {
        font-family: 'helvetica';
        color: #898989;
        text-align: left; }
        .mypage-order .complete.return-delivery .dl-table dd.l3 {
          line-height: 6vw; }
  .mypage-order .btn-back {
    text-align: center;
    background: #fff;
    padding-bottom: 6vw; }
    .mypage-order .btn-back a {
      display: block;
      width: 90.4vw;
      height: 10.666vw;
      border: .266vw #f1f1f1 solid;
      font-size: 3.466vw;
      color: #1f1f1f;
      margin: 0 auto;
      line-height: 10.666vw; }
  .mypage-order .order.return-pickup {
    margin-top: 0; }
    .mypage-order .order.return-pickup .d-top {
      border-top: .8vw #000 solid; }
  .mypage-order .order.cancel-gift {
    background: #f7f7f7;
    margin-top: 0; }
    .mypage-order .order.cancel-gift .d-top {
      padding: 9.2vw 4.8vw 8.533vw; }
      .mypage-order .order.cancel-gift .d-top h3 {
        float: none; }
      .mypage-order .order.cancel-gift .d-top p {
        float: none;
        color: #898989;
        font-size: 3.2vw;
        margin-top: 2.266vw;
        letter-spacing: -.133vw; }
    .mypage-order .order.cancel-gift .gift {
      margin-bottom: 0; }
      .mypage-order .order.cancel-gift .gift .gift-choice {
        display: block;
        padding-top: 0; }
  .mypage-order .more {
    width: 7.733vw;
    height: 7.733vw;
    display: block;
    background: url("/_ui/img/m/icn/icn-more.png") no-repeat;
    background-size: 100%;
    font-size: 0;
    text-indent: -999px;
    margin: 2.166vw auto 1.466vw auto; }

.order-notice {
  min-height: 154.4vw; }
  .order-notice h3 {
    font-size: 3.733vw;
    color: #1f1f1f;
    font-weight: 700;
    margin: 7.333vw 0 6.266vw;
    padding: 0 4.8vw; }
  .order-notice .notice {
    padding: 5.866vw 7.466vw 8.533vw; }
    .order-notice .notice li {
      list-style: disc;
      font-size: 3.466vw;
      color: #898989;
      line-height: 5.866vw;
      letter-spacing: -.133vw; }

.h1-top {
  position: relative; }
  .h1-top .pop-close {
    background: url("/_ui/img/m/icn/icn-close.png") no-repeat;
    background-size: 100%;
    top: 5.333vw;
    right: 4.8vw;
    width: 4vw;
    height: 4vw;
    font-size: 0;
    text-indent: -9999px;
    display: block;
    position: absolute; }
  .h1-top .pop-close.close2 {
    top: 6.4vw; }
  .h1-top h1 {
    font-size: 4.533vw;
    color: #1f1f1f;
    text-align: center;
    font-weight: 700;
    padding: 5.333vw 0 0; }

@media (min-width: 750px) {
  .line {
    height: 6px; }
  .scr-navi {
    width: 678px; }
    .scr-navi .swiper-wrapper .swiper-slide a {
      height: 100px;
      line-height: 100px;
      font-size: 30px; }
    .scr-navi .swiper-wrapper + .icn-navi {
      width: 35px;
      height: 115px;
      right: -36px; }
    .scr-navi .swiper-wrapper + .icn-navi.left {
      left: -36px; }
  .order {
    margin-top: 50px; }
    .order .d-info {
      padding: 0 36px; }
      .order .d-info li {
        font-size: 28px;
        padding: 36px 0;
        border-bottom: 2px #f1f1f1 solid;
        line-height: 40px; }
        .order .d-info li .tit {
          width: 177px; }
        .order .d-info li .cont {
          width: 501px; }
          .order .d-info li .cont input {
            font-size: 28px; }
          .order .d-info li .cont .btn {
            font-size: 26px;
            border: 2px #f1f1f1 solid;
            padding: 15px; }
    .order .d-top {
      padding: 50px 0; }
    .order .gift {
      margin-bottom: 72px; }
      .order .gift .d-top {
        width: 678px;
        margin-top: 72px; }
      .order .gift .top {
        padding: 40px 0;
        width: 678px;
        border-top: 2px #f1f1f1 solid;
        border-bottom: 2px #f1f1f1 solid; }
        .order .gift .top h4 {
          font-size: 28px; }
        .order .gift .top .more {
          width: 23px;
          height: 13px;
          margin-top: 10px; }
      .order .gift .gift-choice {
        padding: 66px 0; }
        .order .gift .gift-choice li .tit {
          font-size: 26px; }
        .order .gift .gift-choice .list {
          margin-top: 30px; }
          .order .gift .gift-choice .list li {
            margin-top: 22px; }
          .order .gift .gift-choice .list li.select {
            background: #fff url("/_ui/img/m/icn/icn-check03.png") no-repeat 622px 74px;
            background-size: 22px 16px; }
          .order .gift .gift-choice .list .prod {
            width: 164px;
            margin-right: 30px; }
          .order .gift .gift-choice .list .info {
            margin-top: 52px; }
            .order .gift .gift-choice .list .info .t1 {
              font-size: 20px;
              font-weight: 700; }
            .order .gift .gift-choice .list .info .t2 {
              font-size: 26px;
              margin-top: 15px; }
      .order .gift .gift-choice > li {
        padding: 0 36px;
        margin-top: 70px; }
  .complete {
    padding: 0 36px 120px; }
    .complete .pop-close {
      width: 28px;
      height: 28px;
      top: 40px;
      right: 36px; }
    .complete h1 {
      line-height: 108px;
      font-size: 34px; }
    .complete .box1 {
      padding-bottom: 92px; }
      .complete .box1 h3 {
        padding-top: 173px;
        background-size: 96px 113px;
        font-size: 40px;
        margin-bottom: 80px;
        line-height: 60px; }
      .complete .box1 h3 + div {
        font-size: 32px; }
        .complete .box1 h3 + div p {
          margin-right: 57px; }
      .complete .box1 div + p {
        margin-top: 83px;
        font-size: 28px;
        line-height: 37px; }
    .complete .box2 {
      border-top: 6px #000 solid;
      padding-top: 48px; }
      .complete .box2 h3 {
        font-size: 30px; }
      .complete .box2 .dl-table {
        margin-top: 66px;
        font-size: 28px;
        border-bottom: 2px #f1f1f1 solid; }
        .complete .box2 .dl-table dt {
          height: 80px;
          line-height: 80px;
          border-top: 2px #f1f1f1 solid; }
        .complete .box2 .dl-table dd {
          height: 80px;
          line-height: 80px;
          border-top: 2px #f1f1f1 solid; }
        .complete .box2 .dl-table .l2 {
          line-height: 40px;
          padding: 14px 0; }
        .complete .box2 .dl-table .l3 {
          line-height: 40px;
          padding: 20px 0; }
      .complete .box2 .virtual-info {
        margin-top: 12px; }
      .complete .box2 .total {
        margin-top: 50px;
        font-size: 34px; }
      .complete .box2 .btns {
        margin-top: 103px; }
        .complete .box2 .btns a {
          width: 330px;
          height: 82px;
          border: 2px #f1f1f1 solid;
          line-height: 82px;
          font-size: 26px; }
        .complete .box2 .btns a + a {
          margin-left: 18px; }
  .mypage-order {
    padding-top: 39px;
    padding-bottom: 39px; }
    .mypage-order .my-order-check {
      width: 602px;
      padding: 38px 38px 50px; }
      .mypage-order .my-order-check .tit-top {
        margin-bottom: 24px; }
        .mypage-order .my-order-check .tit-top h3 {
          font-size: 30px; }
        .mypage-order .my-order-check .tit-top .btn-guide {
          font-size: 26px;
          background-size: 24px 24px;
          padding-right: 35px; }
      .mypage-order .my-order-check p {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 35px; }
      .mypage-order .my-order-check .cs-depth3 ul {
        margin: 44px 0 51px; }
      .mypage-order .my-order-check .btn-inquiry a {
        padding: 18px 0 23px;
        font-size: 32px;
        border: 2px solid #f1f1f1; }
      .mypage-order .my-order-check select {
        background-size: 22.5px;
        font-size: 28px;
        line-height: 81px;
        border-bottom: 2px #eee solid; }
      .mypage-order .my-order-check .sct-box select {
        width: 276px; }
      .mypage-order .my-order-check .sct-box select + select {
        margin-left: 42px; }
      .mypage-order .my-order-check .add-prod {
        margin-top: 29px; }
        .mypage-order .my-order-check .add-prod select {
          width: 143px; }
        .mypage-order .my-order-check .add-prod input {
          width: 421px;
          margin-left: 32px;
          border-bottom: 2px #eee solid;
          line-height: 81px;
          font-size: 28px; }
    .mypage-order .order-number {
      padding: 82px 0 62px; }
      .mypage-order .order-number p {
        font-size: 34px; }
    .mypage-order .order {
      margin-top: 26px; }
      .mypage-order .order .d-info li:last-child {
        border-bottom: 0;
        padding: 36px 0 87px; }
      .mypage-order .order .d-top h3 {
        font-size: 30px; }
    .mypage-order .complete {
      padding: 0 36px 69px; }
      .mypage-order .complete.return-delivery .dl-table dd.l3 {
        line-height: 45px; }
    .mypage-order .btn-back {
      padding-bottom: 45px; }
      .mypage-order .btn-back a {
        width: 678px;
        height: 80px;
        border: 1px #f1f1f1 solid;
        font-size: 26px;
        line-height: 80px; }
    .mypage-order .order.return-pickup .d-top {
      border-top: 6px #000 solid; }
    .mypage-order .order.cancel-gift .d-top {
      padding: 69px 36px 64px; }
      .mypage-order .order.cancel-gift .d-top p {
        font-size: 24px;
        margin-top: 17px;
        letter-spacing: -1px; }
    .mypage-order .more {
      width: 58px;
      height: 58px;
      margin: 16px auto 11px auto; }
  .order-notice {
    min-height: 1158px; }
    .order-notice h3 {
      font-size: 28px;
      margin: 55px 0 47px;
      padding: 0 36px; }
    .order-notice .notice {
      padding: 44px 56px 64px; }
      .order-notice .notice li {
        font-size: 26px;
        line-height: 44px;
        letter-spacing: -1px; }
  .h1-top .pop-close {
    top: 40px;
    right: 36px;
    width: 30px;
    height: 30px; }
  .h1-top .pop-close.close2 {
    top: 48px; }
  .h1-top h1 {
    font-size: 34px;
    padding: 40px 0 0; } }

/*# sourceMappingURL=RMA.css.map */
