.store-cont .store-search {
  width: 85.068vw;
  background: #fff;
  padding: 7.466vw; }
  .store-cont .store-search select {
    background: #fff url(/_ui/img/m/icn/icn-arrow02.png) no-repeat 99% 50%;
    background-size: 3vw;
    font-size: 3.733vw;
    line-height: 10.8vw;
    border-bottom: .266vw #eee solid; }
  .store-cont .store-search input {
    width: 100%;
    border-bottom: .266vw #eee solid;
    line-height: 10.8vw;
    font-size: 3.733vw; }
  .store-cont .store-search button {
    display: block;
    width: 100%;
    padding: 2.4vw 0 3.066vw;
    color: #1f1f1f;
    font-size: 4.266vw;
    text-align: center;
    border: .266vw solid #f1f1f1; }
  .store-cont .store-search select, .store-cont .store-search input {
    margin-bottom: 4vw; }

.store-cont .store-search-result {
  background-color: #f3f4f7; }
  .store-cont .store-search-result .title {
    padding: 10.8vw 7.466vw 1.066vw;
    font-size: 4vw;
    line-height: 5.333vw; }
    .store-cont .store-search-result .title strong {
      font-weight: bold; }
    .store-cont .store-search-result .title select {
      float: right;
      width: 18.133vw;
      padding-right: 4vw;
      background: url(/_ui/img/m/icn/icn-arrow04.png) no-repeat 99% 50%;
      background-size: 3vw;
      font-size: 3.466vw;
      line-height: 5.333vw; }
  .store-cont .store-search-result .list-non {
    padding: 51.33vw 0;
    font-size: 4.26vw;
    color: #aaa;
    background: #f3f4f7;
    text-align: center; }
  .store-cont .store-search-result ul.store-list {
    padding: 3.6vw;
    font-size: 3.466vw; }
    .store-cont .store-search-result ul.store-list > li {
      position: relative;
      padding: 4.533vw;
      margin-bottom: 2px;
      background-color: #fff; }
      .store-cont .store-search-result ul.store-list > li .type {
        color: #aaa; }
      .store-cont .store-search-result ul.store-list > li .name {
        font-size: 4vw;
        margin: 3.866vw 0 2.666vw;
        word-break: keep-all; }
      .store-cont .store-search-result ul.store-list > li .address {
        max-width: 64vw;
        color: #898989;
        word-break: keep-all;
        margin-top: 4.666vw; }
      .store-cont .store-search-result ul.store-list > li a {
        position: absolute;
        right: 4.533vw;
        bottom: 4.533vw;
        padding: 1.466vw 1.733vw;
        border: 0.266vw solid #f1f1f1; }
  .store-cont .store-search-result .more {
    width: 7.733vw;
    height: 7.733vw;
    display: block;
    background: url(/_ui/img/m/icn/icn-more.png) no-repeat;
    background-size: contain;
    font-size: 0;
    text-indent: -999px;
    margin: 6.666vw auto 17.333vw; }
  .store-cont .store-search-result::after {
    content: '';
    display: table;
    clear: both; }

@media (min-width: 750px) {
  .store-cont .store-search {
    width: 638px;
    padding: 56px; }
    .store-cont .store-search select {
      background-size: 22px;
      font-size: 28px;
      line-height: 181px;
      border-bottom: 2px #eee solid; }
    .store-cont .store-search input {
      border-bottom: 2px #eee solid;
      line-height: 81px;
      font-size: 28px; }
    .store-cont .store-search button {
      padding: 18px 0 23px;
      font-size: 32px;
      border: 2px #eee solid; }
    .store-cont .store-search select, .store-cont .store-search input {
      margin-bottom: 30px; }
  .store-cont .store-search-result .title {
    padding: 81px 56px 8px;
    font-size: 30px;
    line-height: 40px; }
    .store-cont .store-search-result .title select {
      width: 136px;
      padding-right: 30px;
      background-size: 22px;
      font-size: 26px;
      line-height: 40px; }
  .store-cont .store-search-result .list-non {
    padding: 257px 0;
    font-size: 32px; }
  .store-cont .store-search-result ul.store-list {
    padding: 27px;
    font-size: 26px; }
    .store-cont .store-search-result ul.store-list > li {
      padding: 34px; }
      .store-cont .store-search-result ul.store-list > li .name {
        font-size: 30px;
        margin: 29px 0 20px; }
      .store-cont .store-search-result ul.store-list > li .address {
        max-width: 480px;
        margin-top: 35px; }
      .store-cont .store-search-result ul.store-list > li a {
        right: 34px;
        bottom: 34px;
        padding: 11px 13px;
        border: 2px #eee solid; }
  .store-cont .store-search-result .more {
    width: 58px;
    height: 58px;
    margin: 50px auto 130px; } }

/*# sourceMappingURL=Store.css.map */
