.order-list {
  margin: 78px 0 140px; }
  .order-list h3 {
    margin-bottom: 52px;
    font-size: 22px;
    color: #1f1f1f; }
  .order-list .order-guide {
    line-height: 1.4;
    text-align: right;
    height: 0; }
    .order-list .order-guide button {
      font-size: 13px;
      position: relative;
      display: inline-block;
      top: -33px;
      height: 33px;
      padding-right: 17px;
      background: url("/_ui/img/pc/icn/icn-order-guide.png") no-repeat 100% 12px; }
  .order-list .order-search {
    margin-bottom: 60px;
    padding: 45px 40px 35px;
    background-color: #f8f8f8; }
    .order-list .order-search .col {
      white-space: nowrap;
      float: left; }
      .order-list .order-search .col .label {
        font-size: 14px;
        text-align: right;
        line-height: 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        float: left;
        margin-bottom: 10px;
        padding-right: 19px; }
      .order-list .order-search .col input {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        float: left;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #dedede; }
      .order-list .order-search .col .select {
        float: left; }
        .order-list .order-search .col .select select {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          height: 40px;
          padding: 0 10px;
          border: 1px solid #dedede; }
      .order-list .order-search .col .split {
        text-align: center;
        line-height: 40px;
        float: left;
        width: 17px; }
    .order-list .order-search .col.type {
      width: 245px; }
      .order-list .order-search .col.type .label {
        width: 75px; }
      .order-list .order-search .col.type .select {
        width: 170px; }
    .order-list .order-search .col.product {
      width: 547px;
      margin-right: 10px; }
      .order-list .order-search .col.product .label {
        width: 84px; }
      .order-list .order-search .col.product .select {
        width: 171px; }
      .order-list .order-search .col.product input {
        width: 282px;
        margin-left: 10px; }
    .order-list .order-search .col.month .label {
      width: 75px; }
    .order-list .order-search .col.month .tab {
      display: inline-block;
      width: 341px;
      padding-bottom: 0;
      background-color: #fff; }
      .order-list .order-search .col.month .tab li {
        width: 25%; }
        .order-list .order-search .col.month .tab li a {
          line-height: 38px;
          height: 38px;
          padding: 0; }
      .order-list .order-search .col.month .tab .on {
        background-color: #898989; }
    .order-list .order-search .col.date {
      margin-left: 40px; }
      .order-list .order-search .col.date input {
        width: 160px;
        cursor: pointer; }
    .order-list .order-search .btn {
      height: 90px; }
      .order-list .order-search .btn.eKolon-search {
        height: 40px;
        margin-left: 10px; }
    .order-list .order-search::after {
      content: '';
      display: block;
      clear: both; }
  .order-list .no-result {
    color: #898989;
    font-size: 16px;
    text-align: center;
    padding: 140px 0; }
  .order-list .desc {
    margin-bottom: 5px;
    font-size: 14px;
    color: #898989; }

.order-view {
  margin: 78px 0 140px; }
  .order-view h3 {
    margin-bottom: 52px;
    font-size: 22px;
    color: #1f1f1f; }
  .order-view .desc {
    margin-bottom: 5px;
    font-size: 14px;
    color: #898989; }
  .order-view .shipping {
    padding: 40px 0 65px;
    border-top: 4px solid #000; }
    .order-view .shipping h4 {
      font-weight: bold;
      margin-bottom: 35px; }
      .order-view .shipping h4 small {
        color: #aaa; }
    .order-view .shipping dl {
      color: #898989;
      font-size: 14px;
      line-height: 1.8571; }
      .order-view .shipping dl dt,
      .order-view .shipping dl dd {
        float: left;
        margin-bottom: 20px; }
      .order-view .shipping dl dt {
        clear: left;
        width: 130px; }
      .order-view .shipping dl dd {
        float: left;
        width: 842px; }
        .order-view .shipping dl dd em {
          color: #1f1f1f; }
      .order-view .shipping dl::after {
        content: '';
        display: block;
        clear: both; }
    .order-view .shipping .note {
      font-size: 13px;
      margin-top: 40px;
      padding-top: 15px;
      border-top: 1px solid #f1f1f1; }
      .order-view .shipping .note h5 {
        margin: 25px 0 18px; }
      .order-view .shipping .note li {
        color: #aaa; }
    .order-view .shipping .gifts {
      margin-left: -24px;
      margin-top: 30px; }
      .order-view .shipping .gifts .gift-title {
        font-size: 14px;
        margin-left: 24px; }
      .order-view .shipping .gifts li {
        float: left;
        width: 588px;
        margin-left: 24px; }
        .order-view .shipping .gifts li .gift {
          color: #1f1f1f;
          margin-top: 20px;
          padding: 0 16px;
          background-color: #f7f7f7; }
          .order-view .shipping .gifts li .gift .thumb {
            vertical-align: middle;
            width: 100px;
            min-height: 100px;
            margin: 10px 10px 10px 0;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            display: -webkit-inline-flex;
            display: -ms-inline-flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-align-content: center; }
            .order-view .shipping .gifts li .gift .thumb img {
              width: 100%; }
          .order-view .shipping .gifts li .gift .cnt {
            vertical-align: middle;
            display: inline-block;
            max-width: 380px; }
            .order-view .shipping .gifts li .gift .cnt .brand {
              font-size: 11px;
              font-weight: bold;
              margin-bottom: 10px; }
            .order-view .shipping .gifts li .gift .cnt .title {
              color: #898989;
              font-size: 15px;
              margin-bottom: 0; }
      .order-view .shipping .gifts::after {
        content: '';
        display: block;
        clear: both; }
    .order-view .shipping .already {
      color: #898989;
      font-size: 14px;
      text-align: right;
      margin: -51px 0 35px; }
    .order-view .shipping .address-form dt {
      color: #000;
      float: left;
      clear: left;
      width: 100px;
      margin: 29px 0 0; }
      .order-view .shipping .address-form dt .required {
        font: 0/0 a;
        vertical-align: middle;
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-left: 4px;
        border-radius: 50%;
        background-color: #f23d4e; }
      .order-view .shipping .address-form dt:first-child {
        margin-top: 0; }
      .order-view .shipping .address-form dt:first-child + dd {
        margin-top: 0; }
    .order-view .shipping .address-form dd {
      float: left;
      width: 872px;
      margin: 29px 0 0; }
      .order-view .shipping .address-form dd .row {
        margin-top: 29px; }
        .order-view .shipping .address-form dd .row:first-child {
          margin-top: 0; }
      .order-view .shipping .address-form dd .btn {
        font-size: 13px;
        height: 30px;
        margin-top: -5px; }
    .order-view .shipping .address-form input[type="text"],
    .order-view .shipping .address-form input[type="tel"],
    .order-view .shipping .address-form input[type="email"] {
      vertical-align: top;
      width: 374px;
      height: 38px;
      margin: -13px 24px 0 0;
      border-bottom: 1px solid #dedede; }
    .order-view .shipping .address-form .select {
      vertical-align: top;
      width: 374px;
      margin: -13px 24px 0 0; }
    .order-view .shipping .address-form input.full {
      width: 100%;
      margin-right: 0; }
    .order-view .shipping.return-gift .gifts li {
      width: 474px; }
  .order-view .billing {
    padding: 35px 0 60px;
    border-top: 4px solid #000;
    font-size: 14px; }
    .order-view .billing h4 {
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 35px; }
    .order-view .billing .table {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin-bottom: 30px; }
      .order-view .billing .table .col {
        position: relative;
        display: table-cell;
        padding: 0 30px;
        border-left: 1px solid #f1f1f1; }
        .order-view .billing .table .col h5 {
          margin: 8px 0 30px;
          color: #1f1f1f;
          letter-spacing: -.6px; }
          .order-view .billing .table .col h5 .tip {
            font: 0/0 a;
            vertical-align: middle;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-top: -2px;
            background: url("/_ui/img/pc/icn/icn-tip.png"); }
        .order-view .billing .table .col li {
          margin-top: 20px; }
          .order-view .billing .table .col li strong {
            color: #898989;
            font-weight: normal;
            float: left; }
          .order-view .billing .table .col li .return-account-btn {
            display: none;
            margin-left: 90px;
            padding: 5px 9px;
            border: 1px solid #dedede;
            color: #898989;
            cursor: pointer; }
          .order-view .billing .table .col li .return-account-info {
            margin-top: 18px;
            text-align: right;
            white-space: nowrap; }
            .order-view .billing .table .col li .return-account-info span:first-child {
              margin-right: 37px; }
          .order-view .billing .table .col li .price {
            display: block;
            color: #1f1f1f;
            float: right;
            text-align: right;
            line-height: 18px;
            word-break: break-all; }
            .order-view .billing .table .col li .price .virtual-info {
              margin-top: 20px; }
              .order-view .billing .table .col li .price .virtual-info span {
                display: inline-block;
                color: #898989;
                padding-top: 4px; }
          .order-view .billing .table .col li::after {
            content: '';
            display: block;
            clear: both; }
        .order-view .billing .table .col .receipt {
          position: absolute;
          top: 0;
          right: 30px; }
          .order-view .billing .table .col .receipt .btn-small {
            height: 24px;
            padding: 0 13px;
            font-size: 12px;
            line-height: 24px; }
        .order-view .billing .table .col .tip {
          width: 15px;
          height: 15px;
          margin-left: 7px;
          background: url("/_ui/img/pc/icn/icn-tip.png") no-repeat;
          text-indent: -9999px;
          vertical-align: top; }
        .order-view .billing .table .col .refund-type {
          text-align: right;
          margin-top: 20px; }
          .order-view .billing .table .col .refund-type .radio {
            margin-left: 15px; }
            .order-view .billing .table .col .refund-type .radio input[type="radio"] {
              display: none; }
            .order-view .billing .table .col .refund-type .radio input[type="radio"] + label {
              display: inline-block;
              width: 16px;
              height: 16px;
              background: url("/_ui/img/pc/icn/icn-select.png") no-repeat;
              vertical-align: sub; }
            .order-view .billing .table .col .refund-type .radio input[type="radio"]:checked + label {
              background: url("/_ui/img/pc/icn/icn-selected.png") no-repeat; }
        .order-view .billing .table .col:first-child {
          padding-left: 0;
          border: 0; }
          .order-view .billing .table .col:first-child::before {
            display: none; }
    .order-view .billing .total {
      color: #1f1f1f;
      font-size: 20px;
      text-align: right;
      padding: 30px;
      border-top: 1px solid #f1f1f1;
      background: #fafafa; }
      .order-view .billing .total em {
        color: #f23d4e;
        font-weight: bold;
        margin-left: 15px; }
    .order-view .billing .note {
      font-size: 14px;
      margin-top: 40px;
      padding-bottom: 60px;
      border-bottom: 1px solid #f1f1f1; }
      .order-view .billing .note p {
        color: #1f1f1f;
        margin-bottom: 15px; }
        .order-view .billing .note p .btn {
          font-size: 14px;
          height: 36px; }
      .order-view .billing .note ul {
        margin-bottom: 28px; }
        .order-view .billing .note ul li {
          color: #aaa;
          line-height: 2;
          position: relative;
          padding-left: 9px; }
          .order-view .billing .note ul li::before {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            display: block;
            width: 2px;
            height: 2px;
            background-color: #c1c1c1; }
  .order-view .buttons.end-row {
    margin-top: 0;
    padding-top: 0;
    border-top: 0; }
    .order-view .buttons.end-row .btn-billing {
      background-color: #f23d4e; }

.order-lists .head {
  overflow: hidden;
  padding-top: 32px; }
  .order-lists .head span {
    float: left;
    display: block;
    font-size: 13px;
    color: #898989; }
  .order-lists .head .tit-1 {
    width: 520px; }
  .order-lists .head .tit-2,
  .order-lists .head .tit-3,
  .order-lists .head .tit-5 {
    text-align: center;
    width: 180px; }
  .order-lists .head .tit-3 {
    width: 175px; }
  .order-lists .head .tit-4 {
    width: 80px;
    text-align: right; }

.order-complete {
  margin: 78px 0 140px; }
  .order-complete h3 {
    margin-bottom: 52px;
    font-size: 22px;
    color: #1f1f1f; }
  .order-complete .complete {
    color: #1f1f1f;
    font-size: 20px;
    text-align: center;
    border-top: 4px solid #000; }
    .order-complete .complete p {
      margin-bottom: 15px; }
      .order-complete .complete p small {
        color: #898989;
        font-size: 14px; }
    .order-complete .complete::before {
      content: '';
      display: block;
      margin: 140px auto 25px; }
  .order-complete .cancel::before {
    width: 89px;
    height: 92px;
    background: url("/_ui/img/pc/icn/icn-cancel-complete.png") no-repeat; }
  .order-complete .exchange::before {
    width: 69px;
    height: 82px;
    background: url("/_ui/img/pc/icn/icn-exchange-complete.png") no-repeat; }
  .order-complete .return .note {
    color: #c1c1c1;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 30px; }
    .order-complete .return .note::before {
      content: '';
      display: block;
      width: 16px;
      height: 14px;
      margin: 0 auto 10px;
      background: url("/_ui/img/pc/icn/icn-double-quotes.png"); }
  .order-complete .return::before {
    width: 69px;
    height: 82px;
    background: url("/_ui/img/pc/icn/icn-return-complete.png") no-repeat; }
  .order-complete .end-row {
    margin-top: 60px;
    padding-top: 0;
    border-top: 0; }

.order-exchange {
  margin: 78px 0 140px; }
  .order-exchange h3 {
    margin-bottom: 52px;
    font-size: 22px;
    color: #1f1f1f; }

.layer-order .layer .tab {
  padding-bottom: 40px; }
  .layer-order .layer .tab li a {
    padding: 12px 0; }

.layer-order .layer .delivery-type {
  margin-bottom: 25px;
  padding: 48px 0;
  text-align: center;
  background-color: #f8f8f8; }
  .layer-order .layer .delivery-type li {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    padding-top: 55px;
    font-size: 14px;
    color: #1f1f1f; }
    .layer-order .layer .delivery-type li::after {
      content: '';
      position: absolute;
      left: -4px;
      bottom: 5px;
      display: block;
      width: 14px;
      height: 10px;
      background: url("/_ui/img/pc/icn/icn-delivery-arrow.png") no-repeat; }
    .layer-order .layer .delivery-type li:first-child::after {
      display: none; }
    .layer-order .layer .delivery-type li::before {
      content: '';
      position: absolute;
      left: 50%;
      display: block;
      margin: 0 auto; }
  .layer-order .layer .delivery-type .icon01:before {
    top: 0;
    width: 35px;
    height: 33px;
    margin-left: -17px;
    background: url("/_ui/img/pc/icn/icn-delivery01.png") no-repeat; }
  .layer-order .layer .delivery-type .icon02:before {
    top: 3px;
    width: 38px;
    height: 30px;
    margin-left: -16px;
    background: url("/_ui/img/pc/icn/icn-delivery02.png") no-repeat; }
  .layer-order .layer .delivery-type .icon03:before {
    top: 1px;
    width: 39px;
    height: 35px;
    margin-left: -18px;
    background: url("/_ui/img/pc/icn/icn-delivery03.png") no-repeat; }
  .layer-order .layer .delivery-type .icon04:before {
    top: 3px;
    width: 45px;
    height: 29px;
    margin-left: -24px;
    background: url("/_ui/img/pc/icn/icn-delivery04.png") no-repeat; }
  .layer-order .layer .delivery-type .icon05:before {
    top: 0;
    width: 35px;
    height: 29px;
    margin-left: -17px;
    background: url("/_ui/img/pc/icn/icn-delivery05.png") no-repeat; }
  .layer-order .layer .delivery-type .icon06:before {
    top: 0;
    width: 35px;
    height: 33px;
    margin-left: -17px;
    background: url("/_ui/img/pc/icn/icn-delivery06.png") no-repeat; }
  .layer-order .layer .delivery-type .icon07:before {
    top: 0;
    width: 35px;
    height: 30px;
    margin-left: -17px;
    background: url("/_ui/img/pc/icn/icn-delivery07.png") no-repeat; }
  .layer-order .layer .delivery-type .icon08:before {
    top: 0;
    width: 35px;
    height: 31px;
    margin-left: -17px;
    background: url("/_ui/img/pc/icn/icn-delivery08.png") no-repeat; }

.layer-order .layer .delivery li {
  width: 20%; }

.layer-order .layer .pickup li {
  width: 160px; }

.layer-order .layer .today li {
  width: 205px; }

.layer-order .layer .bul-list {
  margin-bottom: 40px; }
  .layer-order .layer .bul-list li {
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    color: #898989;
    line-height: 1.8; }
    .layer-order .layer .bul-list li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      display: block;
      width: 2px;
      height: 2px;
      background-color: #c1c1c1; }

.layer-return-account .layer .content .notice {
  margin: -10px 0 30px;
  color: #898989;
  font-size: 14px; }

.layer-return-account .layer .content .write-account {
  font-size: 0; }
  .layer-return-account .layer .content .write-account select, .layer-return-account .layer .content .write-account input {
    border-width: 1px 1px 1px 1px;
    margin-right: 13px;
    padding: 0 11px; }
  .layer-return-account .layer .content .write-account select {
    width: 118px;
    height: 30px;
    line-height: 30px; }
  .layer-return-account .layer .content .write-account input {
    width: 238px;
    height: 28px;
    line-height: 28px; }

.cart-wrap {
  margin: 78px 0 80px; }
  .cart-wrap h3 {
    margin-bottom: 60px;
    font-size: 24px; }
  .cart-wrap .cart-step {
    float: right;
    margin-top: -85px; }
    .cart-wrap .cart-step span {
      position: relative;
      display: inline-block;
      padding: 0 20px;
      font-size: 14px;
      color: #898989; }
      .cart-wrap .cart-step span.last {
        padding-right: 0; }
        .cart-wrap .cart-step span.last::after {
          display: none; }
      .cart-wrap .cart-step span::after {
        content: '';
        position: absolute;
        right: -4px;
        top: -1px;
        width: 8px;
        height: 15px;
        background: url("/_ui/img/pc/icn/icn-cart-step.png") no-repeat;
        opacity: 0.3; }
      .cart-wrap .cart-step span.active {
        color: #1f1f1f; }
        .cart-wrap .cart-step span.active::after {
          opacity: 1; }
  .cart-wrap .order-lists.pickup-lists .set-list .product {
    width: 500px; }
  .cart-wrap .order-lists .head .tit-1 {
    width: 486px; }
  .cart-wrap .order-lists .head .tit-2,
  .cart-wrap .order-lists .head .tit-3,
  .cart-wrap .order-lists .head .tit-5 {
    text-align: center;
    width: 140px; }
  .cart-wrap .order-lists .head .tit-3 {
    width: 150px; }
  .cart-wrap .order-lists .head .tit-4 {
    width: 160px; }
  .cart-wrap .order-lists .head .tit-6 {
    width: 84px; }
  .cart-wrap .order-lists .head .tit-7 {
    text-align: left;
    width: 520px; }
  .cart-wrap .order-lists .head .tit-8 {
    text-align: center;
    width: 170px; }
  .cart-wrap .order-lists .head .tit-9 {
    text-align: left; }
  .cart-wrap .order-lists .list .price,
  .cart-wrap .order-lists .list .point,
  .cart-wrap .order-lists .list .delivery,
  .cart-wrap .order-lists .list .division {
    width: 170px; }
  .cart-wrap .order-lists .list .price {
    line-height: 1.6; }
    .cart-wrap .order-lists .list .price del {
      display: block;
      color: #aaa; }
    .cart-wrap .order-lists .list .price span {
      display: block; }
    .cart-wrap .order-lists .list .price .family {
      display: block;
      color: #f23d4e; }
    .cart-wrap .order-lists .list .price .btn {
      display: table;
      margin: 0 auto;
      height: 26px;
      line-height: 26px;
      padding: 0 10px; }
    .cart-wrap .order-lists .list .price .family-sale-off {
      background-color: #bbb; }
    .cart-wrap .order-lists .list .price .family-sale-on {
      background-color: #f23d4e; }
  .cart-wrap .order-lists .list .state .soldout {
    font-size: 11px;
    color: #f23d4e; }
  .cart-wrap .order-lists .list .company {
    margin-top: 0;
    line-height: 1.2;
    font-size: 13px;
    color: #1f1f1f;
    font-weight: normal;
    max-height: 35px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .cart-wrap .order-lists .list .date {
    font-size: 13px;
    color: #898989;
    line-height: 1.2; }
  .cart-wrap .order-lists .set-list {
    padding-left: 50px; }
  .cart-wrap .packing {
    padding: 40px 0 65px;
    font-size: 14px;
    border-top: 4px solid #000; }
    .cart-wrap .packing h4 {
      font-weight: bold;
      margin-top: 1px;
      margin-bottom: 17px;
      margin-right: 10px;
      float: left; }
    .cart-wrap .packing small {
      color: #aaa;
      line-height: 1.2571;
      float: left; }
    .cart-wrap .packing button {
      float: right;
      margin-top: -7px;
      padding: 0 17px; }
    .cart-wrap .packing .cont {
      clear: both;
      margin-top: 64px; }
      .cart-wrap .packing .cont .tit {
        padding-right: 76px; }
      .cart-wrap .packing .cont .radio {
        position: relative;
        margin-right: 28px; }
        .cart-wrap .packing .cont .radio i {
          border: 2px solid #aaa;
          border-radius: 50%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          display: inline-block;
          height: 18px;
          left: 0;
          position: absolute;
          top: -1px;
          vertical-align: middle;
          width: 18px; }
        .cart-wrap .packing .cont .radio input[type="radio"] {
          display: none; }
          .cart-wrap .packing .cont .radio input[type="radio"]:checked + i {
            border: 5px solid #1f1f1f; }
        .cart-wrap .packing .cont .radio label {
          cursor: pointer;
          padding-left: 25px;
          position: relative; }
  .cart-wrap .shipping {
    padding: 40px 0 65px;
    font-size: 14px;
    border-top: 4px solid #000; }
    .cart-wrap .shipping h4 {
      font-weight: bold;
      margin-top: 1px;
      margin-bottom: 17px;
      margin-right: 10px;
      float: left; }
    .cart-wrap .shipping small {
      color: #aaa;
      line-height: 1.2571;
      font-size: 13px; }
    .cart-wrap .shipping dl {
      color: #898989;
      font-size: 14px;
      line-height: 1.8571; }
      .cart-wrap .shipping dl dt,
      .cart-wrap .shipping dl dd {
        float: left;
        margin-bottom: 20px; }
      .cart-wrap .shipping dl dt {
        clear: left;
        width: 130px; }
      .cart-wrap .shipping dl dd {
        float: left; }
        .cart-wrap .shipping dl dd em {
          color: #1f1f1f; }
      .cart-wrap .shipping dl::after {
        content: '';
        display: block;
        clear: both; }
    .cart-wrap .shipping .note {
      font-size: 13px;
      margin-top: 40px;
      padding-top: 15px;
      border-top: 1px solid #f1f1f1; }
      .cart-wrap .shipping .note h5 {
        margin: 25px 0 18px; }
      .cart-wrap .shipping .note li {
        color: #aaa;
        line-height: 1.6923;
        position: relative;
        padding: 0 0 10px 10px; }
        .cart-wrap .shipping .note li::before {
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          width: 2px;
          height: 2px;
          background-color: #c1c1c1; }
    .cart-wrap .shipping .gifts {
      margin-left: -24px;
      margin-top: 30px; }
      .cart-wrap .shipping .gifts .title {
        margin-left: 24px;
        font-size: 14px; }
        .cart-wrap .shipping .gifts .title + .gift {
          margin-top: 20px; }
      .cart-wrap .shipping .gifts li {
        float: left;
        width: 588px;
        margin-left: 24px; }
        .cart-wrap .shipping .gifts li .gift {
          position: relative;
          color: #1f1f1f;
          margin-top: 26px;
          padding: 0 16px;
          background-color: #f7f7f7; }
          .cart-wrap .shipping .gifts li .gift .thumb {
            position: relative;
            z-index: 1;
            vertical-align: middle;
            width: 100px;
            min-height: 100px;
            margin: 10px 10px 10px 0;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            display: -webkit-inline-flex;
            display: -ms-inline-flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-align-content: center; }
            .cart-wrap .shipping .gifts li .gift .thumb img {
              width: 100%; }
          .cart-wrap .shipping .gifts li .gift .cnt {
            position: relative;
            z-index: 1;
            vertical-align: middle;
            display: inline-block;
            max-width: 380px; }
            .cart-wrap .shipping .gifts li .gift .cnt .brand {
              font-size: 11px;
              font-weight: bold;
              margin-bottom: 10px; }
            .cart-wrap .shipping .gifts li .gift .cnt .title {
              color: #898989;
              font-size: 15px;
              margin-bottom: 0;
              margin-left: 0; }
        .cart-wrap .shipping .gifts li .radio {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0; }
          .cart-wrap .shipping .gifts li .radio input[type="radio"] {
            display: none; }
          .cart-wrap .shipping .gifts li .radio label {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            cursor: pointer;
            font: 0/0 a; }
          .cart-wrap .shipping .gifts li .radio i {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #fbfbfb; }
            .cart-wrap .shipping .gifts li .radio i::after {
              content: '';
              position: absolute;
              right: 50px;
              top: 50%;
              width: 24px;
              height: 18px;
              opacity: 0.3;
              background: url("/_ui/img/pc/icn/icn-gift-checked.png") no-repeat;
              -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                      transform: translateY(-50%); }
          .cart-wrap .shipping .gifts li .radio input[type="radio"]:checked + label + i {
            background-color: #f7f7f7; }
            .cart-wrap .shipping .gifts li .radio input[type="radio"]:checked + label + i::after {
              opacity: 1; }
      .cart-wrap .shipping .gifts::after {
        content: '';
        display: block;
        clear: both; }
    .cart-wrap .shipping .bul-list {
      margin-top: 10px; }
  .cart-wrap .all-select {
    margin-top: 40px;
    margin-bottom: 30px; }
    .cart-wrap .all-select .checkbox {
      margin-right: 15px; }
  .cart-wrap .bul-list li {
    position: relative;
    padding-left: 10px;
    font-size: 13px;
    color: #aaa;
    line-height: 1.4;
    margin-top: 8px; }
    .cart-wrap .bul-list li:first-child {
      margin-top: 0; }
    .cart-wrap .bul-list li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 2px;
      height: 2px;
      background-color: #aaa; }
    .cart-wrap .bul-list li.strong::before {
      background-color: #1f1f1f; }
  .cart-wrap .cart-info {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #f1f1f1; }
    .cart-wrap .cart-info::after {
      content: '';
      display: table;
      clear: both; }
    .cart-wrap .cart-info h6 {
      font-size: 14px;
      color: #1f1f1f; }
    .cart-wrap .cart-info ul {
      margin-top: 20px; }
      .cart-wrap .cart-info ul .strong {
        color: #1f1f1f; }
    .cart-wrap .cart-info .col {
      float: left;
      width: 600px; }
  .cart-wrap .billing {
    display: table;
    width: 100%;
    margin-top: 80px;
    padding: 75px 0;
    border-top: 1px solid #f1f1f1;
    background-color: #fafafa; }
    .cart-wrap .billing > * {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      color: #1f1f1f; }
    .cart-wrap .billing strong {
      display: inline-block;
      min-width: 115px;
      font-weight: normal;
      text-align: right; }
    .cart-wrap .billing .final strong {
      text-align: left;
      min-width: 95px; }
    .cart-wrap .billing .final .small {
      font-size: 14px;
      min-width: 172px; }
      .cart-wrap .billing .final .small small {
        display: inline-block;
        color: #898989;
        text-align: left;
        min-width: 194px; }
    .cart-wrap .billing span {
      display: inline-block;
      margin-left: 15px;
      text-align: right; }
    .cart-wrap .billing.middle {
      margin: 60px 0; }
    .cart-wrap .billing .default-pay div {
      margin: 10px 0; }
    .cart-wrap .billing .sale-pay div {
      margin: 10px 0; }
    .cart-wrap .billing .sale-pay .before {
      position: relative; }
      .cart-wrap .billing .sale-pay .before::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 18px;
        height: 3px;
        margin-top: -2px;
        background-color: #1f1f1f; }
      .cart-wrap .billing .sale-pay .before strong {
        text-align: left; }
        .cart-wrap .billing .sale-pay .before strong .tip {
          font: 0/0 a;
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-top: -4px;
          background: url(/_ui/img/pc/icn/icn-mypage-point.png); }
      .cart-wrap .billing .sale-pay .before .small {
        font-size: 14px; }
        .cart-wrap .billing .sale-pay .before .small small {
          display: inline-block;
          color: #898989;
          text-align: left;
          min-width: 115px; }
    .cart-wrap .billing .total div {
      position: relative;
      font-size: 20px; }
      .cart-wrap .billing .total div em {
        color: #f23d4e; }
      .cart-wrap .billing .total div::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 18px;
        height: 3px;
        margin-top: 1px;
        background-color: #1f1f1f; }
      .cart-wrap .billing .total div::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 18px;
        height: 3px;
        margin-top: -6px;
        background-color: #1f1f1f; }
  .cart-wrap .end-row {
    padding-top: 0;
    border: 0; }
    .cart-wrap .end-row .btn-order {
      background-color: #f23d4e; }
  .cart-wrap .no-result {
    margin: 150px 0;
    text-align: center;
    font-size: 16px;
    color: #898989; }
  .cart-wrap .order-write {
    padding: 40px 0;
    font-size: 14px;
    border-top: 3px solid #1f1f1f; }
    .cart-wrap .order-write + .billing,
    .cart-wrap .order-write + .end-row {
      margin-top: 0; }
    .cart-wrap .order-write.sale-select dt {
      width: 155px; }
    .cart-wrap .order-write.sale-select dd {
      width: 1045px; }
    .cart-wrap .order-write h5 {
      margin-bottom: 50px;
      font-size: 14px;
      color: #1f1f1f;
      font-weight: bold; }
    .cart-wrap .order-write dt,
    .cart-wrap .order-write dd {
      float: left;
      margin-bottom: 40px; }
    .cart-wrap .order-write dt {
      width: 128px; }
      .cart-wrap .order-write dt .required {
        font: 0/0 a;
        vertical-align: middle;
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-left: 5px;
        border-radius: 50%;
        background-color: #f23d4e; }
      .cart-wrap .order-write dt .radio {
        position: relative; }
        .cart-wrap .order-write dt .radio input {
          display: none; }
        .cart-wrap .order-write dt .radio i {
          position: absolute;
          left: 0;
          top: -1px;
          display: inline-block;
          width: 18px;
          height: 18px;
          vertical-align: middle;
          border: 2px solid #aaa;
          border-radius: 50%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
        .cart-wrap .order-write dt .radio input:checked + i {
          border: 4px solid #1f1f1f; }
        .cart-wrap .order-write dt .radio label {
          position: relative;
          padding-left: 25px;
          cursor: pointer; }
    .cart-wrap .order-write dd {
      width: 1072px;
      min-height: 25px; }
      .cart-wrap .order-write dd.user-info span {
        position: relative;
        display: inline-block;
        padding: 0 16px; }
        .cart-wrap .order-write dd.user-info span:first-child {
          padding-left: 0; }
        .cart-wrap .order-write dd.user-info span:first-child:before {
          display: none; }
        .cart-wrap .order-write dd.user-info span::before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 1px;
          height: 11px;
          background-color: #ebebeb; }
      .cart-wrap .order-write dd .select {
        position: relative;
        top: -13px; }
      .cart-wrap .order-write dd .btn-wrap {
        position: relative;
        top: -9px; }
        .cart-wrap .order-write dd .btn-wrap .btn {
          margin-left: 10px; }
          .cart-wrap .order-write dd .btn-wrap .btn:first-child {
            margin-left: 0; }
      .cart-wrap .order-write dd .row {
        margin-top: 29px;
        width: 950px; }
        .cart-wrap .order-write dd .row:first-child {
          margin-top: 0; }
        .cart-wrap .order-write dd .row::after {
          content: '';
          display: block;
          clear: both; }
      .cart-wrap .order-write dd .col-1 {
        float: left;
        width: 450px;
        margin-right: 24px; }
      .cart-wrap .order-write dd .col-2 {
        float: left;
        width: 425px; }
        .cart-wrap .order-write dd .col-2 button {
          margin-top: -7px; }
          .cart-wrap .order-write dd .col-2 button:disabled {
            color: #bbb; }
      .cart-wrap .order-write dd .inline-form {
        display: table; }
        .cart-wrap .order-write dd .inline-form input,
        .cart-wrap .order-write dd .inline-form .split {
          display: table-cell; }
        .cart-wrap .order-write dd .inline-form .split {
          vertical-align: middle;
          padding: 0 5px; }
      .cart-wrap .order-write dd .buttons {
        margin-top: -9px; }
      .cart-wrap .order-write dd .desc {
        margin-top: 5px;
        color: #aaa;
        font-size: 12px;
        line-height: 1.6; }
      .cart-wrap .order-write dd .my-coupon li {
        margin-top: 10px;
        font-size: 13px;
        color: #1f1f1f; }
        .cart-wrap .order-write dd .my-coupon li .btn-del {
          width: 9px;
          height: 9px;
          margin-left: 5px;
          font: 0/0 a;
          background: url("/_ui/img/pc/icn/icn-coupon-del.png") no-repeat; }
      .cart-wrap .order-write dd .box-input {
        position: relative; }
        .cart-wrap .order-write dd .box-input.number-input {
          margin-top: -13px; }
          .cart-wrap .order-write dd .box-input.number-input .input-wrapper {
            height: 40px;
            border-bottom: 1px solid #dedede; }
          .cart-wrap .order-write dd .box-input.number-input input[type="text"],
          .cart-wrap .order-write dd .box-input.number-input input[type="tel"],
          .cart-wrap .order-write dd .box-input.number-input input[type="email"] {
            margin-top: 0;
            float: right;
            width: 60%;
            border-bottom: 0;
            font-size: 14px;
            background: transparent; }
          .cart-wrap .order-write dd .box-input.number-input span {
            float: right;
            position: relative;
            right: auto;
            top: auto; }
        .cart-wrap .order-write dd .box-input input[type="text"],
        .cart-wrap .order-write dd .box-input input[type="tel"],
        .cart-wrap .order-write dd .box-input input[type="email"] {
          text-align: right;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
        .cart-wrap .order-write dd .box-input span {
          position: absolute;
          right: 0;
          top: -13px;
          height: 38px;
          line-height: 38px;
          font-size: 14px;
          color: #898989; }
          .cart-wrap .order-write dd .box-input span em {
            color: #1f1f1f; }
      .cart-wrap .order-write dd .checkbox + label {
        margin-right: 30px; }
      .cart-wrap .order-write dd .radio + label {
        margin-right: 30px; }
      .cart-wrap .order-write dd input[type="text"],
      .cart-wrap .order-write dd input[type="tel"],
      .cart-wrap .order-write dd input[type="email"],
      .cart-wrap .order-write dd textarea {
        width: 100%;
        margin-top: -13px; }
      .cart-wrap .order-write dd input[type="text"],
      .cart-wrap .order-write dd input[type="tel"],
      .cart-wrap .order-write dd input[type="email"] {
        height: 38px;
        font-size: 14px; }
      .cart-wrap .order-write dd textarea {
        padding: 13px 0 0; }
      .cart-wrap .order-write dd::after {
        content: '';
        display: block;
        clear: both; }
    .cart-wrap .order-write::after {
      content: '';
      display: block;
      clear: both; }
    .cart-wrap .order-write .after-verify + dd.name {
      width: 128px; }
    .cart-wrap .order-write .after-verify + dd.phone {
      width: 814px; }
  .cart-wrap .order-write-table {
    display: table;
    width: 100%;
    padding: 40px 0;
    border-top: 4px solid #1f1f1f; }
    .cart-wrap .order-write-table h5 {
      margin-bottom: 50px;
      font-size: 14px;
      color: #1f1f1f;
      font-weight: bold; }
    .cart-wrap .order-write-table .col {
      display: table-cell;
      width: 50%; }
      .cart-wrap .order-write-table .col dl {
        font-size: 14px;
        line-height: 1.8; }
        .cart-wrap .order-write-table .col dl::after {
          content: '';
          display: table;
          clear: both; }
        .cart-wrap .order-write-table .col dl dt {
          float: left;
          color: #000; }
        .cart-wrap .order-write-table .col dl dd {
          margin-left: 130px;
          margin-bottom: 15px;
          color: #898989; }
          .cart-wrap .order-write-table .col dl dd strong {
            display: block;
            font-weight: normal;
            color: #1f1f1f; }
  .cart-wrap .order-info {
    margin-top: 80px;
    padding-top: 40px;
    border-top: 4px solid #1f1f1f; }
    .cart-wrap .order-info::after {
      content: '';
      display: table;
      clear: both; }
    .cart-wrap .order-info h5 {
      margin-bottom: 50px;
      font-size: 14px;
      color: #1f1f1f;
      font-weight: bold; }
    .cart-wrap .order-info .way {
      float: left;
      width: 600px;
      margin-bottom: 40px; }
      .cart-wrap .order-info .way ul {
        margin-bottom: 30px; }
        .cart-wrap .order-info .way ul.disabled {
          position: relative;
          opacity: 0.8; }
          .cart-wrap .order-info .way ul.disabled::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1; }
        .cart-wrap .order-info .way ul::after {
          content: '';
          display: table;
          clear: both; }
        .cart-wrap .order-info .way ul li {
          float: left;
          width: 91px;
          margin-left: 11px; }
          .cart-wrap .order-info .way ul li:first-child {
            margin-left: 0; }
          .cart-wrap .order-info .way ul li input {
            display: none; }
          .cart-wrap .order-info .way ul li label {
            display: inline-block;
            width: 91px;
            height: 91px;
            vertical-align: top;
            font: 0/0 a;
            cursor: pointer; }
            .cart-wrap .order-info .way ul li label.ico1 {
              background: url("/_ui/img/pc/bg-way1.gif") no-repeat; }
            .cart-wrap .order-info .way ul li label.ico2 {
              background: url("/_ui/img/pc/bg-way2.gif") no-repeat; }
            .cart-wrap .order-info .way ul li label.ico3 {
              background: url("/_ui/img/pc/bg-way3.gif") no-repeat; }
            .cart-wrap .order-info .way ul li label.ico4 {
              background: url("/_ui/img/pc/bg-way4.gif") no-repeat; }
            .cart-wrap .order-info .way ul li label.ico5 {
              background: url("/_ui/img/pc/bg-way5.gif") no-repeat; }
          .cart-wrap .order-info .way ul li input:checked + label.ico1 {
            background: url("/_ui/img/pc/bg-way1-on.gif") no-repeat; }
          .cart-wrap .order-info .way ul li input:checked + label.ico2 {
            background: url("/_ui/img/pc/bg-way2-on.gif") no-repeat; }
          .cart-wrap .order-info .way ul li input:checked + label.ico3 {
            background: url("/_ui/img/pc/bg-way3-on.gif") no-repeat; }
          .cart-wrap .order-info .way ul li input:checked + label.ico4 {
            background: url("/_ui/img/pc/bg-way4-on.gif") no-repeat; }
          .cart-wrap .order-info .way ul li input:checked + label.ico5 {
            background: url("/_ui/img/pc/bg-way5-on.gif") no-repeat; }
      .cart-wrap .order-info .way .txt {
        font-size: 13px; }
        .cart-wrap .order-info .way .txt label {
          padding-left: 6px;
          vertical-align: middle; }
    .cart-wrap .order-info .way-info {
      float: left;
      width: 600px; }
      .cart-wrap .order-info .way-info > div {
        display: none; }
      .cart-wrap .order-info .way-info dl::after {
        content: '';
        display: table;
        clear: both; }
      .cart-wrap .order-info .way-info dl dt {
        float: left;
        width: 110px;
        font-size: 14px;
        font-weight: 600;
        color: #1f1f1f; }
      .cart-wrap .order-info .way-info dl dd {
        float: left;
        width: 490px;
        margin-bottom: 40px;
        margin-top: -5px; }
        .cart-wrap .order-info .way-info dl dd li {
          font-size: 14px;
          color: #898989;
          margin-top: 6px; }
          .cart-wrap .order-info .way-info dl dd li:first-child {
            margin-top: 0; }
          .cart-wrap .order-info .way-info dl dd li::after {
            content: '';
            display: table;
            clear: both; }
          .cart-wrap .order-info .way-info dl dd li .thumb {
            float: left;
            margin-top: -2px; }
          .cart-wrap .order-info .way-info dl dd li .txt {
            display: block;
            margin-left: 118px;
            line-height: 22px; }
      .cart-wrap .order-info .way-info .bul-list {
        margin-bottom: 40px; }
        .cart-wrap .order-info .way-info .bul-list li {
          margin-top: 8px;
          padding-right: 8px;
          font-size: 14px;
          color: #898989;
          line-height: 1.4; }
          .cart-wrap .order-info .way-info .bul-list li::before {
            top: 8px;
            background-color: #c1c1c1; }
      .cart-wrap .order-info .way-info p {
        margin-bottom: 40px;
        font-size: 14px;
        color: #898989; }
        .cart-wrap .order-info .way-info p strong {
          padding-right: 5px;
          color: #1f1f1f; }
      .cart-wrap .order-info .way-info h5 + .row {
        margin-bottom: 40px; }
      .cart-wrap .order-info .way-info .row {
        margin-top: 29px; }
        .cart-wrap .order-info .way-info .row::after {
          content: '';
          display: table;
          clear: both; }
        .cart-wrap .order-info .way-info .row .select {
          position: relative;
          top: -13px;
          margin-right: 23px; }
        .cart-wrap .order-info .way-info .row .col-1 {
          float: left;
          width: 288px; }
        .cart-wrap .order-info .way-info .row .radio {
          position: relative; }
          .cart-wrap .order-info .way-info .row .radio input {
            display: none; }
          .cart-wrap .order-info .way-info .row .radio i {
            position: absolute;
            left: 0;
            top: 1px;
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            border: 2px solid #aaa;
            border-radius: 50%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; }
          .cart-wrap .order-info .way-info .row .radio input:checked + i {
            border: 4px solid #1f1f1f; }
          .cart-wrap .order-info .way-info .row .radio label {
            position: relative;
            margin-right: 12px;
            padding-left: 25px;
            font-size: 14px;
            color: #1f1f1f;
            cursor: pointer; }
        .cart-wrap .order-info .way-info .row input[type="text"],
        .cart-wrap .order-info .way-info .row input[type="tel"],
        .cart-wrap .order-info .way-info .row input[type="email"] {
          width: 100%;
          height: 38px;
          margin-top: -13px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
  .cart-wrap .order-agree {
    margin-top: 80px;
    padding-top: 40px;
    border-top: 1px solid #1f1f1f; }
    .cart-wrap .order-agree h5 {
      margin-bottom: 18px;
      font-size: 14px;
      color: #1f1f1f;
      font-weight: bold; }
    .cart-wrap .order-agree p {
      margin-bottom: 25px;
      font-size: 13px;
      color: #aaa; }
    .cart-wrap .order-agree label {
      font-size: 13px;
      padding-left: 6px;
      vertical-align: middle; }
  .cart-wrap .complete {
    padding: 115px 0;
    text-align: center;
    border-top: 4px solid #1f1f1f; }
    .cart-wrap .complete .txt {
      margin-bottom: 20px;
      font-size: 20px; }
      .cart-wrap .complete .txt::before {
        content: '';
        display: block;
        width: 69px;
        height: 82px;
        margin: 0 auto 30px;
        background: url("/_ui/img/pc/icn/icn-order-complete.png") no-repeat; }
    .cart-wrap .complete .order-num {
      margin-bottom: 18px;
      font-size: 16px; }
      .cart-wrap .complete .order-num span {
        color: #f23d4e; }
    .cart-wrap .complete .desc {
      margin-top: 18px; }
      .cart-wrap .complete .desc small {
        font-size: 13px;
        color: #aaa;
        line-height: 1.6; }
    .cart-wrap .complete .btn-wrap .btn {
      width: 100px;
      padding: 0; }
  .cart-wrap .billing-info {
    font-size: 14px;
    padding-top: 40px;
    border-top: 1px solid #000; }
    .cart-wrap .billing-info h4 {
      font-weight: bold;
      margin-bottom: 35px; }
    .cart-wrap .billing-info .table {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin-bottom: 30px; }
      .cart-wrap .billing-info .table .col {
        position: relative;
        display: table-cell;
        padding: 0 30px;
        border-left: 1px solid #f1f1f1; }
        .cart-wrap .billing-info .table .col:first-child {
          padding-left: 0;
          border: none; }
        .cart-wrap .billing-info .table .col:first-child:before {
          display: none; }
        .cart-wrap .billing-info .table .col h5 {
          margin: 8px 0 30px; }
        .cart-wrap .billing-info .table .col li {
          margin-top: 20px; }
          .cart-wrap .billing-info .table .col li::after {
            content: '';
            display: table;
            clear: both; }
          .cart-wrap .billing-info .table .col li strong {
            color: #898989;
            font-weight: normal;
            float: left; }
          .cart-wrap .billing-info .table .col li .price {
            color: #1f1f1f;
            float: right;
            text-align: right;
            line-height: 18px; }
            .cart-wrap .billing-info .table .col li .price .virtual-info {
              margin-top: 20px; }
              .cart-wrap .billing-info .table .col li .price .virtual-info span {
                display: inline-block;
                color: #898989;
                padding-top: 4px; }
    .cart-wrap .billing-info .total {
      color: #1f1f1f;
      font-size: 20px;
      text-align: right;
      padding: 30px;
      border-top: 1px solid #f1f1f1;
      background: #fafafa; }
      .cart-wrap .billing-info .total em {
        color: #f23d4e;
        font-weight: bold;
        margin-left: 15px; }
  .cart-wrap .swiper-controls .swiper-button-prev,
  .cart-wrap .swiper-controls .swiper-button-next {
    margin-top: -50px; }

.layer-my-delivery .layer .content {
  margin-bottom: 40px; }
  .layer-my-delivery .layer .content ul li {
    position: relative;
    display: table;
    padding: 15px 0;
    border-top: 1px solid #f3f3f3; }
    .layer-my-delivery .layer .content ul li.on .radio,
    .layer-my-delivery .layer .content ul li.on label {
      opacity: 1; }
    .layer-my-delivery .layer .content ul li:first-child {
      border-top: 0; }
    .layer-my-delivery .layer .content ul li::after {
      content: '';
      display: table;
      clear: both; }
    .layer-my-delivery .layer .content ul li > * {
      display: table-cell;
      vertical-align: middle; }
    .layer-my-delivery .layer .content ul li .radio {
      position: absolute;
      left: 0;
      top: 50%;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      opacity: 0.6; }
      .layer-my-delivery .layer .content ul li .radio input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0; }
      .layer-my-delivery .layer .content ul li .radio i {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #aaa;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      .layer-my-delivery .layer .content ul li .radio input:checked + i {
        border: 4px solid #1f1f1f; }
    .layer-my-delivery .layer .content ul li label {
      display: block;
      width: 374px;
      padding-left: 40px;
      opacity: 0.6;
      cursor: pointer; }
      .layer-my-delivery .layer .content ul li label span {
        display: block;
        font-size: 13px;
        color: #1f1f1f;
        line-height: 1.6; }
        .layer-my-delivery .layer .content ul li label span em {
          color: #f23d4e; }
    .layer-my-delivery .layer .content ul li .btn-wrap .btn {
      width: 62px;
      height: 26px;
      margin: 2px 0;
      padding: 0;
      line-height: 26px;
      font-size: 12px; }

.layer-delivery-add .layer .content dl dt,
.layer-delivery-modify .layer .content dl dt {
  float: left;
  width: 80px;
  font-size: 14px;
  color: #000; }
  .layer-delivery-add .layer .content dl dt .required,
  .layer-delivery-modify .layer .content dl dt .required {
    font: 0/0 a;
    vertical-align: middle;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #f23d4e; }

.layer-delivery-add .layer .content dl dd,
.layer-delivery-modify .layer .content dl dd {
  float: left;
  width: 400px;
  margin-bottom: 40px; }
  .layer-delivery-add .layer .content dl dd .row,
  .layer-delivery-modify .layer .content dl dd .row {
    margin-top: 25px; }
    .layer-delivery-add .layer .content dl dd .row:first-child,
    .layer-delivery-modify .layer .content dl dd .row:first-child {
      margin-top: 0; }
    .layer-delivery-add .layer .content dl dd .row::after,
    .layer-delivery-modify .layer .content dl dd .row::after {
      content: '';
      display: table;
      clear: both; }
  .layer-delivery-add .layer .content dl dd .col-1,
  .layer-delivery-modify .layer .content dl dd .col-1 {
    float: left;
    width: 268px;
    margin-right: 20px; }
  .layer-delivery-add .layer .content dl dd .col-2,
  .layer-delivery-modify .layer .content dl dd .col-2 {
    float: left;
    width: 110px; }
  .layer-delivery-add .layer .content dl dd input[type="text"],
  .layer-delivery-add .layer .content dl dd input[type="tel"],
  .layer-delivery-add .layer .content dl dd input[type="email"],
  .layer-delivery-modify .layer .content dl dd input[type="text"],
  .layer-delivery-modify .layer .content dl dd input[type="tel"],
  .layer-delivery-modify .layer .content dl dd input[type="email"] {
    width: 100%;
    height: 38px;
    margin-top: -13px; }
  .layer-delivery-add .layer .content dl dd .btn,
  .layer-delivery-modify .layer .content dl dd .btn {
    width: 100%;
    margin-top: -3px;
    padding: 0; }
  .layer-delivery-add .layer .content dl dd .radio,
  .layer-delivery-modify .layer .content dl dd .radio {
    position: relative; }
    .layer-delivery-add .layer .content dl dd .radio input,
    .layer-delivery-modify .layer .content dl dd .radio input {
      display: none; }
    .layer-delivery-add .layer .content dl dd .radio i,
    .layer-delivery-modify .layer .content dl dd .radio i {
      position: absolute;
      left: 0;
      top: 2px;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      border: 2px solid #aaa;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .layer-delivery-add .layer .content dl dd .radio input:checked + i,
    .layer-delivery-modify .layer .content dl dd .radio input:checked + i {
      border: 4px solid #1f1f1f; }
    .layer-delivery-add .layer .content dl dd .radio label,
    .layer-delivery-modify .layer .content dl dd .radio label {
      position: relative;
      margin-right: 12px;
      padding-left: 25px;
      font-size: 14px;
      color: #1f1f1f;
      cursor: pointer; }

.layer-family .layer .content {
  margin-bottom: 35px; }
  .layer-family .layer .content p {
    font-size: 14px;
    color: #1f1f1f;
    line-height: 1.6; }
  .layer-family .layer .content .write-number {
    margin: 20px 0; }
    .layer-family .layer .content .write-number input {
      float: left;
      width: 388px;
      height: 40px;
      margin-right: 10px;
      padding-left: 10px;
      border: 1px solid #c6c6c6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .layer-family .layer .content .number-list {
    clear: both;
    max-height: 225px;
    overflow-y: scroll; }
    .layer-family .layer .content .number-list::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background-color: #fff; }
    .layer-family .layer .content .number-list::-webkit-scrollbar-thumb {
      position: relative;
      background: #d1d1d1; }
    .layer-family .layer .content .number-list li {
      margin-bottom: 25px;
      font-size: 14px;
      color: #1f1f1f;
      line-height: 1.4;
      opacity: 0.5; }
      .layer-family .layer .content .number-list li.on {
        opacity: 1; }
      .layer-family .layer .content .number-list li::after {
        content: '';
        display: table;
        clear: both; }
      .layer-family .layer .content .number-list li .checkbox {
        float: left;
        margin-top: 2px; }
      .layer-family .layer .content .number-list li label {
        float: left;
        max-width: 215px;
        margin-left: 30px; }
      .layer-family .layer .content .number-list li .price {
        float: right;
        margin-right: 15px;
        text-align: right; }
  .layer-family .layer .content .total {
    padding: 18px;
    text-align: right;
    background-color: #f7f7f7; }
    .layer-family .layer .content .total span {
      display: inline-block;
      font-size: 16px;
      color: #1f1f1f; }
      .layer-family .layer .content .total span.sum {
        margin-right: 10px; }
      .layer-family .layer .content .total span em {
        color: #f23d4e; }

.popup-wow-guide {
  position: fixed;
  top: 20%;
  right: 20%;
  width: 450px;
  background-color: #000;
  z-index: 1000; }
  .popup-wow-guide a,
  .popup-wow-guide img {
    display: block; }
  .popup-wow-guide .wow-close-btn {
    position: absolute;
    right: 23px;
    top: 23px;
    width: 27px;
    height: 27px;
    background: url(/_ui/img/pc/btn-pop-cls.png) no-repeat;
    background-size: 100%; }
  .popup-wow-guide .wow-cookie-btn {
    display: block;
    padding: 10px;
    background-color: #000; }

/*# sourceMappingURL=Order.css.map */
